
  <div class="frameForResponse">
    <div class="head" style="text-align:center;margin:10px 0px 15px 0px; background: rgb(233, 237, 242);">
      <span translate>RESPONSE_BEFOR_DELETE</span><span> "{{titleTaskDel}}"?</span>
    </div>
    <div class="tool">
      <button class="btn" id="del" style="float:left; " ng-click="deletedTask();" translate>DELETE</button>
      <button class="btn" style="float:right; margin-right:10px;"  ng-click="closeThisDialog('');" translate>CANSEL</button>
    <div/>
  </div>
