<div class="head">
	<span class="left"><img src="/dist/images/profiles/error.png"></span>
	<span class="left title">Schedule</span>
</div>
<form method="POST">
	<table class="dialog">
		<tr>
			<td translate>LANGUAGE</td>
			<td><select class="form-control" ng-model="specialitySel" ng-options="o as o for o in speciality.options"></select></td>
		</tr>
		<tr>
			<td translate>DIFFICULTY</td>
			<td class="btn-group">
				<label class="radio-custom" ng-model="radioModel" uib-btn-radio="'Hard'" uncheckable translate>HARD</label>
				<label class="radio-custom" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle</label>
				<label class="radio-custom" ng-model="radioModel" uib-btn-radio="'Easy'" uib-uncheckable="uncheckable" translate>Eazy</label>
			</td>
		</tr>
		<tr>
			<td colspan="2" translate>MESSAGE<br><br><textarea class="textarea" rows="6" autofocus></textarea></td>
		</tr>
	</table>
</form>
