<script type="text/javascript" src="scripts/admin.js"></script>
<div ng-controller="ClientsProfileCtrl">
<div class="send-test">
	<div>
		<div class="head">
			<span>To: <b>{{client.email}}</b></span>
			<button id="close">Close</button>
		</div>
		<form method="POST">
		<div class="action">
			Language
			<select required>
				<option>Java</option>
				<option>JavaSript</option>
				<option>HTML</option>
				<option>CSS</option>
			</select><br>
			<br>Сomplication  
			    <input type="radio" id="radio1" name="radios" value="hard" required>
			    <label for="radio1">Hard</label>
			    <input type="radio" id="radio2" name="radios"value="middle">
			    <label for="radio2">Middle</label>
			    <input type="radio" id="radio3" name="radios" value="easy">
			    <label for="radio3">Easy</label> <br>
			<br>Message<br>
			<textarea rows="6"></textarea>
		</div>
		<div class="tool">
			<button id="send-in-box">Send test</button>
		</div>
	</form>
	</div>
</div>

<div class="box profile">
	<!-- <span class="title-profile">Profile</span> -->
	<img ng-src="/images/profiles/{{client.image}}">
	<div class="info-profile">
		<div class="details">
			<span class="name">{{client.name}} {{client.surname}}</span><br>
			<span>{{client.city}}</span>
			<!-- <span>123 performed tests</span> -->
		</div>
		<div class="tool">
			<button id="send">Send test</button>
		</div>
	</div>
	<div>
		<span class="clients-length"> Elements</span>
	</div>
	<div class="history">
	<table id="table-dashboard">
		<thead>
			<th>Test</th>
			<th>Сomplication</th>
			<th>Sent</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr>
				<td>
				<ul id="ul-test"><li ng-repeat="test in client.perfomedTests">{{test}}</li>
				</ul>
				</td>
				<td>
					<ul id="ul-compl"><li ng-repeat="compl in client.complication">{{compl}}</li>
				</ul>
				</td>
				<td>
					<ul id="ul-sent"><li ng-repeat="sent in client.testSent">{{sent}}</li>
				</ul>
				</td>
				<td>
					<ul id="ul-return"><li ng-repeat="return in client.testReturn">{{return}}</li>
				</ul>
				</td>
				<!-- <td class="td-name"><a href="#"></a></td>
				<td>{{compl}}</td>
				<td></td>
				<td class="td-status"><img src="/images/done.png"></td> -->
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>