<pop-up-dialog show="scheduleTest" type="schedule"></pop-up-dialog>
<div class="row">
<div class="col-md-7 col-sm-7 main-padding">
	<div class="panel-admin profile table-responsive">
		<div class="change-background show-hide" ng-show="changeBackground" ng-mouseover="changeBackground = true" ng-mouseleave="changeBackground = false"><button class="btn">Change background</button></div>
		<img class="bg" src="dist/images/profiles/{{account.background}}" onerror="this.src='dist/images/profiles/default.jpg'"
		ng-mouseover="changeBackground = true" ng-mouseleave="changeBackground = false">
		<div class="title">
			<table>
				<tr>
					<td>
						<div class="change-avatar show-hide" ng-show="changeAvatar" ng-mouseover="changeAvatar = true" ng-mouseleave="changeAvatar = false">
							<button class="btn" translate>
								CHANGE_PHOTO
							</button>
						</div>
						<img class="avatar" src="dist/images/profiles/{{account.image}}" onerror="this.src='dist/images/profiles/error.png'"
						ng-mouseover="changeAvatar = true" ng-mouseleave="changeAvatar = false">
					</td>
					<td class="title">
						<div class="name">{{account.firstName}} {{account.lastName}}</div>
						<div class="sub">New York</div><!-- {{account.city}} -->
						<div class="sub">{{account.email}}</div>
						<div class="sub">{{account.speciality}}</div>
						<div class="sub">{{account.englishLevel}}</div>
						<div style="color:#A3BE8C"><b>Online</b></div>
					</td>
					<span class="right bottom"><button class="btn sent" ng-click="scheduleDialog()">Schedule test</button></span>

				</tr>
			</table>
		</div>
	</div>
	<div class="panel-admin activity" style="margin-top:20px;">
		<div class="title"><span class="left" translate>ACTIVITY</span></div>
		<div class="main table-responsive">
			<table class="table-admin">
				<tbody>
					<tr ng-repeat="activity in account.activity">
						<td class="image">
							<img class="avatar" src="dist/images/profiles/{{account.image}}" onerror="this.src='dist/images/profiles/error.png'">
						</td>
						<td>
							<span class="name"><a href="#/profile/{{account.id}}">
							{{account.firstName}} {{account.lastName}}</a></span>
							<span ng-if="activity.taken === 'failed'" style="color:#D08770">failed</span>
							<span ng-if="activity.taken === 'inProcces'" style="color:#f1c40f">haven't passed</span>
							<span ng-if="activity.taken === 'done'" style="color:#A3BE8C">passed</span>
						    {{activity.technology}} test with {{activity.complication}} difficulty
						</td>
						<td>
							<span ng-if="activity.status !== 'checked'"><button class="btn review" translate>REVIEW</button></span>
							<span ng-if="activity.status === 'checked'"><button class="btn review" translate>VIEW</button></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="col-md-5 col-sm-5 main-padding">
	<div class="panel-admin chart" style="margin:0" ng-controller="ChartsCtrl">
	<div class="title"><span class="left"><a href="#/charts" translate>CHARTS</a></span></div>
	<div class="main" style="padding: 25px">
		<canvas id="line" class="chart chart-line" chart-data="line.data"
		  chart-labels="line.labels" chart-legend="true" chart-series="line.series">
		</canvas>
	</div>
	<div class="tool"></div>
	</div>
</div>
</div>
