<div class="Tbox">
	<a href="#" ui-sref="main.tasks.list"><span translate>CANCEL</span></a>
	<form>
		<table>
			<tr>
				<td class="Ttitle" translate>TITLE_TASK</td>
				<td><input id="inputTitle" type="text" ng-model="createCtrl.task.title" required></td>
			</tr>
			<tr>
				<td class="Ttitle" translate>DIFFICULTY</td>
				<td><select
						class="selectBl"
						ng-model="createCtrl.task.difficulty"
						name="difficulty"
						ng-options="difficulty.id as difficulty.name for difficulty in createCtrl.difficulties"
				></select></td>
			</tr>
			<tr>
				<td class="Ttitle" translate>TECHNOLOGY</td>
				<td>
					<select
							class="selectBl"
							ng-model="createCtrl.task.technology"
							name="technology"
							ng-options="technology.id as technology.name for technology in createCtrl.technologies"
					></select>
				</td>
			</tr>
			<tr>
				<td class="Ttitle" translate>
					TASK
				</td>
			</tr>
		</table>

	</form>
	<div id="build-editor" ui-ace ng-model="createCtrl.task.task"></div>
	<button id="sendT" ng-click="createCtrl.save()">Save</button>
</div>