<div class="Tbox">
	<span ng-click="changeFrame('empty');changeButtonBack();" translate>CANSEL</span>
	<form method="POST">
		<table>
			<tr>
				<td class="Ttitle" translate>TITLE_TASK</td>
				<td><input id="inputTitle" type="text" ng-model="titleTaskC" required ng-change="changeButton()"></td>
			</tr>
			<tr>
				<td class="Ttitle" translate>DIFFICULTY</td>
				<td><select class="selectBl" ng-model="diffTaskC" name="difficalty" required ng-change="changeButton()">
					<option value="Eazy">Eazy</option>
					<option value="Middle">Middle</option>
					<option value="Hard">Hard</option>
				</select></td>
			</tr>
			<tr>
				<td class="Ttitle" translate>TECHNOLOGY</td>
				<td>
					<select class="selectBl" ng-model="techTaskC" name="technology" required ng-change="changeButton()">
						<option value="Java">Java</option>
						<option value="PHP">PHP</option>
						<option value="C#">C#</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="Ttitle" translate>
					TASK
				</td>
			</tr>
		</table>
	</form>
	<div id="build-editor" ui-ace ng-model="TaskC" ng-change="changeButton()"></div>
	<button id="sendT" ng-disabled="!anableButton" ng-click="Visible=!Visible;changeButtonBack();">{{buttonTbox}}</button>
</div>