<div id="wrapper-workspace">
  <div class="sidebar-workspace-wrapper">
    <button id="sidebar" ng-click="sidebarToggle()"></button>
    <button id="run" class="btn succes">Run</button>
    <div class="participantInfo" style="background-image: url(/dist/images/profiles/default.jpg">
      <img src="dist/images/profiles/error.png" onerror="this.src='dist/images/profiles/error.png'">
      <div class="title">Kutsaniuk Dmytro</div>
      <button class="menu-humb" ng-click="openTaskList()"></button>
    </div>
    <div class="tasks">
      <table class="show-hide" ng-show="taskListShow" ng-animate>
        <tr ng-repeat="task in tasks" ng-click="openTask($index)"><td>{{$index + 1}}. {{task.title}}</td></tr>
        <!-- <tr><td>1. Hello, world!</td><td><img src="dist/images/done.png"></td></tr>-->
      </table>
      <div class="task show-hide" ng-show="taskShow" ng-animate>
        <p class="title">{{task.title}}</p>
        <p>{{task.description}}</p>
      </div>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="col-md-12 col-sm-12 main-padding">
          <div uib-collapse="idpanelclose" class="panel-admin">
            <div class="title">
              <span class="left tab" ng-click="mainShow = !mainShow; testShow = !testShow" 
              ng-class = "{'enableTab':mainShow, 'disableTab':!mainShow}">Main</span>
              <span class="left tab" ng-click="testShow = !testShow; mainShow = !mainShow"
              ng-class = "{'enableTab':testShow, 'disableTab':!testShow}">Test</span>
              <span class="right controls close-panel" ng-click="idpanelclose = true"></span>
              <span class="right controls minimize" ng-class = "{'minimize':!idPanelMinimize, 'maximize':idPanelMinimize}" ng-click="idPanelMinimize = !idPanelMinimize"></span>
              <center id="timer"><timer>{{minutes}}:{{seconds}}</timer></center>
            </div>
            <div uib-collapse="idPanelMinimize">
              <div class="show-hide" ng-show="mainShow" ng-animate><div id="code" class="editor" ui-ace="codeEditor" ng-model="mainCode" ></div></div>
              <div class="show-hide" ng-show="testShow" ng-animate><div id="code" class="editor" ui-ace="codeEditor" ng-model="testCode" ></div></div>
            </div>
          </div>
          <panel title="Console" module="{{MODULE}}" ace="console" template="console"></panel>  
        </div>
      </div>
    </div>
  </div>
</div>
