<div id="wrapper-workspace">
  <button  class="menu-humb" ng-click="sidebarWorkspaceToggle(sidebarWorkspace)"></button>
  <div id="sidebarWorkspace" class="sidebar-workspace-wrapper">
    <div class="participantInfo">
      <img src="dist/images/profiles/error.png" onerror="this.src='dist/images/profiles/error.png'">
      <div class="title">Kutsaniuk Dmytro</div>
    </div>
    <div class="tasks">
      <table class="show-hide" ng-show="taskListShow" ng-animate>
        <tr ng-repeat="task in tasks" ng-click="openTask($index)"><td><b>{{$index + 1}}.</b> {{task.title}}</td></tr>
      </table>
      <div class="task show-hide" ng-show="taskShow" ng-animate>
        <p class="title"><button class="left-arrow" ng-click="openTaskList()"></button>{{task.title}}</p>
        <p>{{task.description}}</p>
      </div>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <div class="col-md-12 col-sm-12 main-padding">
          <div uib-collapse="idpanelclose" class="panel-admin show-hide">
            <div class="title">
              <span class="left tab" ng-click="mainShow = !mainShow; testShow = !testShow" 
              ng-class = "{'enableTab':mainShow, 'disableTab':!mainShow}">Main</span>
              <span class="left tab" ng-click="testShow = !testShow; mainShow = !mainShow"
              ng-class = "{'enableTab':testShow, 'disableTab':!testShow}">Test</span>
              <span class="right controls close-panel" ng-click="idpanelclose = true"></span>
              <span class="right controls minimize" ng-class = "{'minimize':!idPanelMinimize, 'maximize':idPanelMinimize}" ng-click="idPanelMinimize = !idPanelMinimize"></span>
              <center id="timer"><timer>60:{{minutes}}</timer></center>
            </div>
            <div uib-collapse="idPanelMinimize" class="show-hide">
              <div class="show-hide" ng-show="mainShow" ng-animate><div id="code" class="editor" ui-ace="codeEditor" ng-model="mainCode" ></div></div>
              <div class="show-hide" ng-show="testShow" ng-animate><div id="code" class="editor" ui-ace="codeEditor" ng-model="testCode" ></div></div>
              <button id="run" class="btn succes" ng-click="run()">Run</button>
            </div>
          </div>
          <div uib-collapse="consoleShow" class="panel-admin show-hide">
            <div class="title">
              <span class="left" style="font-weight:bold" translate>Console</span>
              <span class="right controls close-panel" ng-click="consoleShow = true"></span>
              <span class="right controls minimize" ng-class = "{'minimize':!consoleMinimize, 'maximize':consoleMinimize}" ng-click="consoleMinimize = !consoleMinimize"></span>
            </div>
            <div uib-collapse="consoleMinimize" class="show-hide">
              <textarea id="console" ng-model="stack" readonly></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
