<div class="panel-admin">
	<div class="title"><span class="left">{{lengthClientsPA.length}} {{infoTable.title}}</span>
	<span class="right">
		<div>
	    </div>
	</span></div>
	<div class="main table-responsive">
 	<table class="table-admin">
 		<thead ng-if="lengthClientsPA !== 0">
			<th id="emtry"></th>
			<th ng-class = "{'sort-up':isSortUp('firstName'), 'sort-down':isSortDown('firstName')}" ng-click="sort('firstName')" translate>TITLE_TASK</th>
			<th ng-class = "{'sort-up':isSortUp('email'), 'sort-down':isSortDown('email')}" ng-click="sort('email')" translate>TECHNOLOGY</th>
      <th ng-class = "{'sort-up':isSortUp('testSent'), 'sort-down':isSortDown('testSent')}" ng-click="sort('testSent')" translate>LAST_MODIFY</th>
      <th ng-class = "{'sort-up':isSortUp('testSent'), 'sort-down':isSortDown('testSent')}" ng-click="sort('testSent')" translate>DIFFICULTY</th>
			<th id="emtry"></th>
      <th id="emtry"></th>
		</thead>
 		<tbody>
	 	  <tr ng-repeat="task in allTasks.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))  | orderBy:sortType:sortReverse | filter:{title:searchTask,technology:technology,difficulty:difficalty}">
			   	<td class="image"><img src="dist/images/task.png" /></td>
	        <td>{{task.title}}</td>
          <td style="text-align:center;">{{task.technology}} </td>
          <td style="text-align:center;">{{task.addedDate}}</td>
          <td style="text-align:center;">{{task.difficulty}}</td>
          <td class="image"><img style="cursor:pointer" ng-click="changeOrCreateTask(task.id,true);" id="editImage" src="dist/images/task-edit.png" /></td>
          <td class="image" style="padding-right:15px"><img style="cursor:pointer" ng-click="clickToTryDelTask(task.id)" src="dist/images/trash.png" id="deleteImage" /></td>
        </tr>
      	</tbody>
	</table>
	</div>
	<div class="tool">
	<span class="left">
		<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
		<br>
	</span>
	<span class="right"><button id="addParticipants" class="btn succes" ng-click="changeOrCreateTask(-1,false);" translate>NEW</button></span>
	</div>
</div>
