		<div style="margin-left:1%; margin-top:10px;" class="col-lg-7 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-12 col-xs-12">
			<table-with-tasks></table-with-tasks>
		</div>

		<div style="margin-left:1%; margin-top:10px;" class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
			<div class="panel-admin">
				<div class="title"><span class="left" translate>FILTER</span></div>
				<div class="main table-responsive">
					<div class="filter">
						<input type="text" placeholder="Title Task" onblur="this.placeholder='Title Task'" onfocus="this.placeholder=''" ng-model="searchTask"></br>
							<select class="form-control" ng-model="technology">
								<option value="" selected>All</option>
								<option value="Java">Java</option>
								<option value="PHP">PHP</option>
								<option value="C#">C#</option>
							</select>
							<select class="form-control" ng-model="difficalty">
								<option value="" selected>All</option>
								<option value="Eazy">Eazy</option>
								<option value="Middle">Middle</option>
								<option value="Hard">Hard</option>
							</select>
							<!-- add filter for date -->
					</div>
				</div>
			</div>
		</div>
