@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700italic,700,600,600italic,400italic,300italic&subset=latin,cyrillic);
/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,600);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);
/*@import url(https://fonts.googleapis.com/css?family=Product+Sans:300,400,600,700);
*/@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,600);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

body{
	background: #f4f5f5;
}

a{
	text-decoration: none;
}

div#header {
	width: 100%;
	height: 50px;
	/*background: #3498db;*/
	/*background: #16a085;*/
	background: #fff;
	margin: 0 auto;
}

.logo {
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	/*margin-left: 11px;*/
}

.logo a {
	font-size: 18px;
	color: #16a085;
}
.logo a span {
	font-weight: 300;
}
div#container {
	width: 100%;
	margin: 0 auto;
	background: #34495e;
}

.sidebar {

	/*position: static;*/
	width: 180px;
	height: 100%;
	/*height: calc(100% - 50%);*/

	/*background: #ecf0f1;*/
	/*background: #34495e;*/
	background: #2c3e50;
	float: left;
}
a#dachboard, a#participants, a#statistics {
	background-image:url(/images/db.png);
    background-position:10px 10px;
    background-repeat:no-repeat;
    display:block;
    height:auto;
    /*overflow:hidden;*/
    text-indent:20%;
}
a#dachboard:hover{background-image:url(/images/db-h.png);}
a#dachboard:focus{background-image:url(/images/db-h.png);}
a#participants{background-image:url(/images/pib.png);}
a#participants:hover{background-image:url(/images/pib-h.png);}
a#participants:focus{background-image:url(/images/pib-h.png);}
a#statistics{background-image:url(/images/s.png);}
a#statistics:hover{background-image:url(/images/s-h.png);}
a#statistics:focus{background-image:url(D:/Mockup-interview/images/s-h.png);}

ul#nav li {
	margin-left: 10px;
	list-style: none;
}
ul#nav li a {
	color: #577a9d;
	font-family: 'Product Sans', Tahoma;
	font-weight: 500;
	display: block;
	padding: 15px;
	font-size: 12px;
	border-left: 5px solid transparent;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}
ul#nav li a:hover {
	color: #fff;
	/*background: #2c3e50;*/
	/*margin-left: 5px;*/
}
ul#nav li a:focus, ul li a#selected {
	color: #fff;
	/*border-left: 5px solid #577a9d;*/
}
.content {
	width: auto; 
	/*height: calc(100% - 50%);*/
	height: auto;
	font-family: Open Sans;
	background: #f4f5f5;
	margin-left: 180px;
	padding: 0px;
	color: #424242;
}

div.mobile {
	display: block;
	cursor: pointer;
	float: left;content
	width: 50px;
	height: 50px;
	color: #fff;
	padding: 0px;
	text-align: center;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}	
div.mobile:hover{
	/*margin-top: 1px;*/
	/*background: #148f77 ;*/

}
#menu{
	position: absolute;
	background-position: 0 0;
	background-image: url(D:/Mockup-interview/images/menu.png); 
}
/*	RESIZE	*/
@media only screen and (max-width: 700px){
	table#table-dashboard{width: 100%}
	a#dachboard,a#participants,a#statistics,a#dachboard:hover,
	a#participants:hover,a#statistics:hover,a#dachboard:focus,
	a#participants:focus,a#statistics:focus
	{background-image:none;text-indent:0%;}
	ul#nav{margin-top: 0px;}
	/*div.search{margin-left: 125px;}*/
	div.box-small{
		margin-bottom: 15px;
		width: 100%;
	}
	.logo{
		/*margin-left: 50px;*/
		position: absolute;
	}
	.box{
		width: 93%;
	}
	.sidebar{
		margin-top:50px;
		position: absolute;
		height: auto;
		width: 100%;
		display: none;
		text-align: center;
	}

	.content {
		margin-left: 0px;
	}
	.clients-search form input{
		width: 100%;
	}
}
@media only screen and (min-width: 700px){
	table#table-dashboard{width: auto;}
	ul#nav{margin-top: 75px;}
	/*div.search{margin-left: 0px;}*/
	div.box-small{
		width: 200px;
		margin-left: 15px; 
	}
	.box{
		width: 600px;
	}
	div.mobile{
		display: none;
	}

	div.clients-search form input{
		width: 200px;

	}
	div.top{

		/*max-height: 150px;*/
	}
	.sidebar{
		/*background: #333;*/
		/*margin-top: -50px;*/
		position: fixed;
		height: 100%;
		display: block;
	}
}

/*	SEARCH	*/

div.search{
	float: left;
	display: block;
	padding: 10px;
}
div.search input{
	color: silver;
	font-family: Open Sans;
	font-weight: 300;
	padding: 5px;
	border: none;
	background: transparent;
	font-size: 15px;
}
div.search input:focus{
	color: #333;
	border: none;
}
div.logout{
	float: right;
	display: block;
	padding: 15px;	
	color: silver;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.logout:hover{ color: #999; }
/*	BOX   */
div#box-main {
	height: 200px;
}
div.box {
	/*border: 3px solid #fff; */
	margin: 25px;
	margin-bottom: 0;
	border-radius: 5px;
	box-shadow: 0 1px 0 #e1e1e1; 
	display: block;
	padding: 20px;
	background: #fff;
	height: auto;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.box-small{
	margin: 0;
	padding: 0;
	height: 125px;
	float: left; 
}
hr {
    border: 0;
    width: 100%;
    color: #e1e1e1;
    background-color: #e1e1e1;
    height: 1px;
 }
div.box-small span{
	margin: 10px;
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #666;
}
div.box-small p{
	padding: 20px; 
	font-size: 30px;
	color: #666;
	font-weight: 300;
}
div.box div{
	width: 100%;
	display: inline;
	
}
div.box div ul { list-style: none; }
div.box div ul li{ display: inline;padding: 0; }
div.box div ul li button{
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0 3px 3px 0;
	margin: 0;
	margin-left: -7px;
	height: 33.5px;
}
div.box div input{
	font-family: Open Sans;
	color: silver;
	width: 80%;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.box div input:focus{color: #333;}

div.box .box-top {
	color: #fff;
	background: #2980b9;
	padding: 25px;
	padding-left: 15px;
}
div.box .box-panel {
	color: #333;
	padding: 18px;
	background: #ecf0f1;
}
div.box-tool {
	width: 150px;
	height: auto;
	padding: 20px;
	margin-left: 5px;
	font-size: 25px;
	background: #888;
/*	margin: 25px;*/
	float: left; 
}
div.box-tool p{
	font-size: 12px;
}
.clearBoth { clear:both; }

.clients-search {
	padding: 25px;
	display: none;
}
div.filter-box{
	/*position: relative;*/
	width: 100%;
	display: block;
	float: left;
}


input[type="text"]{
	border: 2px solid #e1e1e1;
	border-radius: 1px 0 0 1px;
	padding: 6px;
	padding-left: 12px; 
	font-size: 13px;

}
input[type="text"]:focus{
	border: 2px solid silver;
}
table#table-dashboard{
	/*border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;*/
	margin-top: 15px;
	border-spacing: 0;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
}
table#table-dashboard td.td-default{
	/*padding: 13px;*/

	width: auto;
	/*background: #eee;*/
	padding: 10px;
}
table#table-dashboard tbody tr td a{
	padding: 10px;
	color: #555;
	font-weight: bold;
}
.hover-tr:hover{
	background: #eee;
	margin-left: 15px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.top{
	display: block;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 25px;
}
tr.info td{ padding: 0;}
tr.info{
	background-color: #eee;
	height: auto;
}
p.info-p{
	position: relative;
	display: none;
	padding: 10px;
	padding-left: 15px;
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
}
button{
	background: #f4f5f5;
	border-radius: 3px; 
	border-color: transparent; 
	border: 2px solid silver;
	color: #888;
	font-weight: bold;
	font-size: 14px;
	font-family: Open Sans;
	margin: 15px;
	padding: 5px;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
button:hover{
	border: 2px solid #888;
	color: #666;
}
button:active{
	background: #888;
	color: #fff;
}
td.status-done:before{content: "Done";}
td.status-in-progress:before{content: "In progress";}
td.status-done,td.status-in-progress{
	display: block;
	color: #fff;
	margin: 15px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: 600;
	background: #aec785;
	border-radius: 3px;
	width: auto;
	height: 25px;
	text-align: center;
}
td.status-in-progress{background: #f4d66c;}
div#box-list{position:static;float: left;width: 100%;padding: 10px;margin: 0;}
ul#list-tb li {display: inline-block;font-size: 14px; padding: 10px;}
ul#list-tb div:hover { background: #ecf0f1; }
ul#list-tb div{border-bottom: 1px solid #eee;};

.add-participant{
	display: block;

}