div.notification{
	/*display: none;*/
	position: absolute;
	z-index: 8;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 30%;
	height: 100px;
	background: rgba(34, 34, 34, 0.7);
	border-radius: 5px;
	color: #fff;
	margin-top: 70px;
	font-size: 14px;
	padding: 25px;
	box-shadow: 0 0 5px #999;
}