<section>
<div class="box">
	
	<table id="tableData" class="main-table" cellspacing="0" cellpadding="0">
		<span>Participants
		<div id="page-size">
			<select 
			ng-change="changeAction()" 
			ng-model="pageSize" 
			ng-options="opt as opt for opt in pageSizes"></select>
		</div>
		</span>
		<thead>
			<th></th>
			<th>Name</th>
			<th>Email</th>
			<th>Sent</th>
			<th>Returned</th>
			<th>Taken</th>
		</thead>
		<tbody>
			<tr class="hover-tr" ng-repeat="client in lengthClientsPA = (clients | filter:{name:searchNameA, taken:'done', email:searchEmailA} | orderBy:'surname')" ng-if="$index >= (currentPage * pageSize) && $index < ((currentPage+1)*pageSize)">
				<td class="td-status"><a href="#/participants/{{client.id}}"><img ng-src="images/profiles/{{client.image}}" onerror="this.src='images/profiles/error.png';" style="border-radius: 100%;"></a></td>
				<td class="td-name"><a href="#/participants/{{client.id}}">{{client.name}} {{client.surname}}</a></td>
				<td>{{client.email}} </td>
				<td>{{client.testSent}}</td>
				<td>{{client.testReturn}}</td>
				<td class="td-status"><img ng-src="images/{{client.taken}}.png" onerror="this.src='images/error.png';"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="tool">
		
	</div>
	<span>{{currentPage + 1}} in {{pageNumber}} | {{lengthClientsPA.length}} Elements</span>
</div>
<div class='alt'>Add new participant</div>
<div id="right-container">
	<div id="filter" class="box filter">
		<span>Filter</span>
		<div id="filter-container">
			<input type="text" placeholder="Name" onblur="this.placeholder='Name'" onfocus="this.placeholder=''" ng-model="searchNameA" ng-change="pageSize = 20"><br>
			<input type="text" placeholder="Email adress" onblur="this.placeholder='Email adress'" onfocus="this.placeholder=''" ng-model="searchEmailA"><br>
			
		</div>
	</div>
	<div id="chart-taken" ng-controller="ClientsChartsCtrl" class="chart" google-chart chart="chartPie"/>
</div>

</section>
