<pop-up-dialog show="addParticipant" type="data"></pop-up-dialog>

<div class="col-md-9 col-sm-9 main-padding">
	<table-main></table-main>
</div>

</div>
<div class="col-md-3 col-sm-3 main-padding">
	<div class="panel-admin">
	<div class="title"><span class="left">Filter</span></div>
	<div class="main table-responsive">
		<div class="filter">
		<input type="text" placeholder="Name" onblur="this.placeholder='Name'" onfocus="this.placeholder=''" ng-model="searchNameA" ng-change="changeAction()"><br>
				<input type="text" placeholder="Email adress" onblur="this.placeholder='Email adress'" onfocus="this.placeholder=''" ng-model="searchEmailA" ng-change="changeAction()"><br>
				<select class="form-control" ng-model="selectTaken">
					<option value="">All</option>
					<option value="Done">Done</option>
					<option value="inProcess">In process</option>
					<option value="failed">Failed</option>
				</select>
	            <div ng-show=selectRoleVisible>
				<span id="selectDash" class="select">
					<div ng-if="selectRole == null" translate>ALL</div>
					<div ng-if="selectRole != null">{{titleRole}}</div>
				</span>
				<div id="selectFilterDashboard" class="menu selectMenu">
	                <ul ng-model="selectRole">
	                    <li ng-click="selectRole='';titleRole='All'" translate>ALL</li>
	                    <li ng-click="selectRole='ROLE_ADMIN';titleRole='Admin'" translate>ADMIN</li>
	                    <li ng-click="selectRole='ROLE_MANAGER';titleRole='Manager'" translate>MANAGER</li>
	                    <li ng-click="selectRole='ROLE_RECRUITER';titleRole='Recruiter'" translate>RECRUITER</li>
	                </ul>
	            </div>
				</div>
		</div>
	</div>
		<div class="tool"></div>
	</div>
	<div class="panel-admin chart" ng-controller="ChartsCtrl">
	<div class="title"><span class="left"><a href="#/charts">Chart</a></span></div>
	<div class="main">
		<canvas id="doughnut" class="chart chart-doughnut"
		  chart-data="doughnut.data" chart-labels="doughnut.labels">
		</canvas> 
	</div>
	<div class="tool"></div>
	</div>
</div>
</div>

<div id="notifPart"></div>
