<div ng-controller="DataCtrl">

<div class="box box-item-info">
	<img class="avatar" ng-src="images/profiles/{{image}}" onerror="this.src='images/profiles/error.png';">
	<img class="bg" ng-src="images/profiles/bg.jpg" onerror="this.src='images/profiles/default.jpg'">
	<a href="/participants/{{itemId}}">
		<span>{{firstName}} {{lastName}}</span>
	</a>
</div>

<div class="send-test">
	<div id="close-box" ></div>
	<div id="main">
		<div class="head">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="img"><img src="images/profiles/error.png"></td>
					<td>
						<span ng-if="firstName == null">New participant</span>
						<span ng-if="firstName != null">{{firstName}} {{lastName}}</span>
					</td>
					<td><button id="close">Close</button></td>
				</tr>
			</table>	
		</div>
		<form method="POST">
		<div class="action">
			<table>
				<tr ng-if="dataTable === 'users'">
					<td>Username</td>
					<td><input type="text" ng-model="username" size="30"></td>
				</tr>
				<tr>
					<td>First Name</td>
					<td><input type="text" ng-model="firstName" size="30"></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" ng-model="lastName"></td>
				</tr>
				<!-- <tr>
					<td>Birthday</td>
					<td><input type="text" id="datepicker" size="30"></td>
				</tr> -->
				<tr ng-if="dataTable != 'users'">
					<td>City</td>
					<td><input type="text" ng-model="city"></td>
				</tr>
				<tr ng-if="dataTable == 'users'">
					<td>Role</td>
					<td>
						<span id="selectEngLvl" class="select selectNewPart">
						<div ng-if="selectItemRole == null" id="disabled">Select role</div>
						<div ng-if="selectItemRole != null">{{selectItemRole}}</div>
						</span>
						<div id="menuEngLvl" class="menu selectMenu inSentBox">
			                <ul ng-model="selectItemRole">
			                	<li id="disabled">Select role</li>
			                    <li ng-click="selectItemRole='Admin'">Admin</li>
			                    <li ng-click="selectItemRole='Manager'">Manager</li>
			                    <li ng-click="selectItemRole='Recruter'">Recruter</li>
			                </ul>
			            </div>
					</td>
				</tr>
				<tr ng-if="dataTable != 'users'">
					<td>English level</td>
					<td>
						<span id="selectEngLvl" class="select selectNewPart">
						<div ng-if="selectItemEngLvl == null" id="disabled">Select level</div>
						<div ng-if="selectItemEngLvl != null">{{selectItemEngLvl}}</div>
						</span>
						<div id="menuEngLvl" class="menu selectMenu inSentBox">
			                <ul ng-model="selectItemEngLvl">
			                	<li id="disabled">Select level</li>
			                    <li ng-click="selectItemEngLvl='Beginner'">Beginner</li>
			                    <li ng-click="selectItemEngLvl='Elementary'">Elementary</li>
			                    <li ng-click="selectItemEngLvl='Pre-Intermediate'">Pre-Intermediate</li>
			                    <li ng-click="selectItemEngLvl='Intermediate'">Intermediate</li>
			                    <li ng-click="selectItemEngLvl='Upper intermediate'">Upper intermediate</li>
			                    <li ng-click="selectItemEngLvl='Advanced'">Advanced</li>
			                    <li ng-click="selectItemEngLvl='Proficient'">Proficient</li>
			                </ul>
			            </div>
					</td>
				</tr>
				<tr ng-if="dataTable != 'users'">
					<td>Speciality</td>
					<td>
					<span id="selectSpeciality" class="select selectNewPart">
						<div ng-if="selectItemSpeciality == null" id="disabled">Select speciality</div>
						<div ng-if="selectItemSpeciality != null">{{selectItemSpeciality}}</div>
					</span>
					<div id="menuSpeciality" class="menu selectMenu inSentBox">
		                <ul ng-model="selectItemSpeciality">
		                	<li id="disabled">Select speciality</li>
		                    <li ng-click="selectItemSpeciality='Front-End Developer'">Front-End Developer</li>
		                    <li ng-click="selectItemSpeciality='Java Developer'">Java Developer</li>
		                    <li ng-click="selectItemSpeciality='.NET Developer'">.NET Developer</li>
		                    <li ng-click="selectItemSpeciality='JavaScript Developer'">JavaScript Developer</li>
		                </ul>
		            </div>
					</td>
				</tr>
				<tr ng-if="dataTable != 'users'">
					<td>Contact</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email" ng-model="email"></td>
				</tr>
			</table>
		</div>
		<div class="tool">
			<button style="margin:0" ng-click="addRowAsyncAsJSON()" class="send">Add participant</button>
			<button id="close" style="float:right" ng-click="clearFields()">Cancel</button>
		</div>
	</form>
	</div>
</div>

<section>
<div class="box">
	<table id="head">
		<tr>
			<td>{{lengthClientsPA.length}} {{titleTable}}</td>
			<td id="page-size">
				<div>
				<input type="radio" id="radio1" name="radios" ng-change="changeAction()"  ng-model="pageSize" value="5">
			    <label id="label1" for="radio1">5</label>
			    <input type="radio" id="radio2" name="radios" ng-change="changeAction()"  ng-model="pageSize" value="10" selected>
			    <label id="label2" for="radio2">10</label>
			    <input type="radio" id="radio3" name="radios" ng-change="changeAction()"  ng-model="pageSize" value="15">
			    <label id="label3" for="radio3">15</label>	
			    </div>
			</td>
		</tr>
	</table>
	<table id="tableData" class="main-table" cellspacing="0" cellpadding="0">
		<thead ng-if="lengthClientsPA != 0">
			<th id="emtry"></th>
			<th ng-class = "{'sort-up':isSortUp('firstName'), 'sort-down':isSortDown('firstName')}" ng-click="sort('firstName')">Name</th>
			<th ng-class = "{'sort-up':isSortUp('email'), 'sort-down':isSortDown('email')}" ng-click="sort('email')">Email</th>
			<th ng-class = "{'sort-up':isSortUp('role'), 'sort-down':isSortDown('role')}" ng-click="sort('role')" ng-if="dataTable == 'users'" style="padding-right:35px">Role</th>
			<th ng-class = "{'sort-up':isSortUp('testSent'), 'sort-down':isSortDown('testSent')}" ng-click="sort('testSent')" ng-if="dataTable == 'participants'">Sent</th>
			<th ng-class = "{'sort-up':isSortUp('testReturn'), 'sort-down':isSortDown('testReturn')}" ng-click="sort('testReturn')" ng-if="dataTable == 'participants'">Returned</th>
			<th ng-class = "{'sort-up':isSortUp('taken'), 'sort-down':isSortDown('taken')}" ng-click="sort('taken')" ng-if="dataTable == 'participants'" style="padding-right:15px">Taken</th>
		</thead>
		<tbody>
			<tr class="hover-tr" ng-repeat="dataColumn in lengthClientsPA = (dataTableList | 
			filter:{ firstName:searchNameA, taken:selectTaken, email:searchEmailA, role:selectRole} | 
			orderBy: sortField:reverse)" 
			ng-if="$index >= (currentPage * pageSize) && $index < ((currentPage+1)*pageSize)" 
			ng-click="currentItem(dataColumn.participantId, false)" 
			ng-dblclick="currentItem(dataColumn.participantId, true)">

				<td class="td-status">
					<a href="/participants/{{dataColumn.id}}">
					<img ng-src="images/profiles/{{dataColumn.image}}" onerror="this.src='images/profiles/error.png';" style="border-radius: 100%;">
				</a></td>
				<td class="td-name">
					<b ng-if="dataTable === 'participants'"><a href="/participants/{{dataColumn.participantId}}"></b>
					<!-- <b ng-if="dataTable === 'users'"><a href="/users/{{dataColumn.userId}}"></b> -->
					{{dataColumn.firstName}} {{dataColumn.lastName}}</a></td>
				<td>{{dataColumn.email}} </td>
				<td ng-if="dataTable == 'users'">
					<div>
						<div ng-if="dataColumn.role == 'ROLE_ADMIN'">Admin</div>
						<div ng-if="dataColumn.role == 'ROLE_MANAGER'">Manager</div>
						<div ng-if="dataColumn.role == 'ROLE_RECRUITER'">Recruiter</div>
					</div>
				</td>
				<td ng-if="dataTable == 'participants'">{{dataColumn.sent}}</td>
				<td ng-if="dataTable == 'participants'">{{dataColumn.returned}}</td>
				<td ng-if="dataTable == 'participants'" class="td-status"><img ng-src="images/{{dataColumn.taken}}.png" onerror="this.src='images/error.png';"></td>
			</tr>
			<tr ng-if="lengthClientsPA == 0"><td style="padding-left: 25px;color:#666">No search result</td></tr>
		</tbody>
	</table>
	
	<table id="tool" ng-if="lengthClientsPA != 0">
		<tr>
			<td>			
 		 		<button ng-click="paging(0)">Prev</button>
 				<span id="currentPage" ng-click="paging(currentPage)">{{currentPage + 1}}</span>
 				<span id="currentPage" ng-if="(currentPage + 2) <= pageNumber" ng-click="paging(currentPage)">{{currentPage + 2}}</span>
 				<span id="currentPage" ng-if="(currentPage + 3) <= pageNumber" ng-click="paging(currentPage)">{{currentPage + 3}}</span>
				<button ng-click="paging(1)">Next</button>
 				</td>
			<td><div class="altContainer"></div><button class="send" ng-click="clearFields()">New</button></td>
		</tr>
	</table>
</div>
<div id="right-container">
	<div id="filter" class="box filter">
		<span id="title">Filter</span>
		<div id="filter-container">
			<input type="text" placeholder="Name" onblur="this.placeholder='Name'" onfocus="this.placeholder=''" ng-model="searchNameA" ng-change="changeAction()"><br>
			<input type="text" placeholder="Email adress" onblur="this.placeholder='Email adress'" onfocus="this.placeholder=''" ng-model="searchEmailA" ng-change="changeAction()"><br>
			<div ng-show=selectTakenVisible>
			<span id="selectDash" class="select">
				<div ng-if="selectTaken == null">All</div>
				<div ng-if="selectTaken != null">{{takenTitle}}</div>
			</span>
			<div id="selectFilterDashboard" class="menu selectMenu">
                <ul ng-model="selectTaken">
                    <li ng-click="selectTaken='';takenTitle='All'">All</li>
                    <li ng-click="selectTaken='done';takenTitle='Done'">Done</li>
                    <li ng-click="selectTaken='inProcess';takenTitle='In process'">In process</li>
                    <li ng-click="selectTaken='failed';takenTitle='Failed';">Failed</li>
                </ul>
            </div>
            </div>
            <div ng-show=selectRoleVisible>
			<span id="selectDash" class="select">
				<div ng-if="selectRole == null">All</div>
				<div ng-if="selectRole != null">{{titleRole}}</div>
			</span>
			<div id="selectFilterDashboard" class="menu selectMenu">
                <ul ng-model="selectRole">
                    <li ng-click="selectRole='';titleRole='All'">All</li>
                    <li ng-click="selectRole='ROLE_ADMIN';titleRole='Admin'">Admin</li>
                    <li ng-click="selectRole='ROLE_MANAGER';titleRole='Manager'">Manager</li>
                    <li ng-click="selectRole='ROLE_RECRUITER';titleRole='Recruiter'">Recruiter</li>
                </ul>
            </div>
            </div>
		</div>
	</div>
	<div id="chart-taken" class="chart" google-chart chart="chartPieData"/>
</div>

</section>
</div>