<!doctype html>
<head>
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Login</title>
    <meta charset="utf-8">
</head>
<body>
<center>
    <form   class="login" ng-controller="loginCtrl">
        <div>
        <p><label for="username">Username</label></p>
        <input type="text" id="username" ng-model="username" placeholder="username" required>
        <p><label for="password">Password</label></p>
        <input type="password" id="password" ng-model="password" placeholder="password" required>
        <br><button ng-click="sumbit()">Login</button>
        </div>
    </form>
</center>
</body>
</html>