<!doctype>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="/dist/styles/main.min.css">
</head>
<body>


<form class="login" ng-controller="UserCtrl">
    <div>
        <span id="logo">CI</span>
        <span id="title">Welcome to code interview</span>
        <span id="description"><p>This project is a platform for making online interview with writing a code</p><p>Login. To see it in action.</p></span>
    </div>
    <input type="text" id="username" ng-model="username" placeholder="username">
    <input type="password" id="password" ng-model="password" placeholder="password">
    <br><button class="send" ng-click="authf()" translate>Login</button>  
</form>

</body>
</html>