<script type="text/javascript">
	$("#add").click(function() {
			$("div.send-test").fadeIn();
	});
	$("#close").click(function() {
			$("div.send-test").fadeOut();
	});
</script>
<div class="send-test">
	<div>
		<div class="head">
			<table>
				<tr>
					<td><span><b>Add a new participant</b></span>
					<button id="close">Close</button></td>
				</tr>
			</table>
		</div>
		<form method="POST">
		<div class="action">
			<table>
				<tr>
					<td class="title">Name</td>
					<td><input type="text" required></td>
				</tr>
				<tr>
					<td class="title">Surame</td>
					<td><input type="text" required></td>
				</tr>
				<tr>
					<td class="title">Email</td>
					<td><input type="email" required></td>
				</tr>
				<tr>
					<td class="title">Photo</td>
					<td><input type="file" name="img" accept="image/jpeg,image/png,image/gif"></td>
				</tr>
			</table>
		</div>
		<div class="tool">
			<button class="send">Add participant</button>
		</div>
	</form>
	</div>
</div>

<section>
<div class="box">
	<div>
		<input type="text" placeholder="Name" onblur="this.placeholder='Name'" onfocus="this.placeholder=''" ng-model="searchNameA">
		<input type="text" placeholder="Email adress" onblur="this.placeholder='Email adress'" onfocus="this.placeholder=''" ng-model="searchEmailA">
		<select ng-model="selectStatus">
			<option value="" selected>All</option>
			<option value="done">Done</option>
			<option value="inProcess">In process</option>
			<option value="false">Not sent</option>
		</select>
	</div>
	<table class="main-table">
		<thead>
			<th>Name</th>
			<th>Email</th>
			<th>Sent</th>
			<th>Returned</th>
			<th>Status</th>
		</thead>
		<tbody>
			<tr class="hover-tr" ng-repeat="client in lengthClientsPA = (clients | filter:{name:searchNameA, status:selectStatus, email:searchEmailA} | orderBy:'surname')">
				<td class="td-name"><a href="#/clients/{{client.id}}">{{client.name}} {{client.surname}}</a></td>
				<td>{{client.email}} </td>
				<td>{{client.testSent}}</td>
				<td>{{client.testReturn}}</td>
				<td class="td-status"><img ng-src="images/{{client.status}}.png"></td>
			</tr>
		</tbody>
	</table>
	<div class="tool">
		<button id="add">New</button>
		<span class="clients-length">{{lengthClientsPA.length}} Elements</span>
	</div>
</div>

<div id="chart-accounts" ng-controller="ClientsChartsCtrl">
	<div class="chart" google-chart chart="chartColumn"/>
	<div class="chart" google-chart chart="chartPie"/>
</div>

</section>
