<script type="text/javascript">
    $("#datepicker").datepicker();
    document.title = "Dashboard";
</script>
<div class="send-test">
	<div id="close-box" ></div>
	<div>
		<div class="head">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="img"><img src="images/profiles/error.png"></td>
					<td>
						<span ng-if="firstName == null">New participant</span>
						<span ng-if="firstName != null">{{firstName}} {{lastName}}</span>
					</td>
					<td><button id="close">Close</button></td>
				</tr>
			</table>	
		</div>
		<form method="POST">
		<div class="action">
			<table>
				<tr>
					<td>First Name</td>
					<td><input type="text" ng-model="firstName"></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" ng-model="lastName"></td>
				</tr>
				<tr>
					<td>Birthday</td>
					<td><input type="text" id="datepicker" size="30"></td>
				</tr>
				<tr>
					<td>City</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>Speciality</td>
					<td>
						<select>
							<option selected></option>
							<option>Front-End Developer</option>
							<option>Java Developer</option>
							<option>.NET Developer</option>
							<option>JavaScript Developer</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>English level</td>
					<td>
						<select>
							<option selected></option>
							<option>Beginner</option>
							<option>Elementary</option>
							<option>Pre-Intermediate</option>
							<option>Intermediate</option>
							<option>Upper intermediate</option>
							<option>Advanced</option>
							<option>Proficient</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Contact</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="email"></td>
				</tr>
			</table>
		</div>
		<div class="tool">
			<button style="margin:0" ng-click="addRowAsyncAsJSON()" class="send">Add participant</button>
			<button id="close" style="float:right" ng-click="clearFields()">Cancel</button>
		</div>
	</form>
	</div>
</div>

<section>
<div class="box">
	<table id="head">
		<tr>
			<td>{{clients.length}} Participants</td>
			<td id="page-size">
				<div>
				<input type="radio" id="radio1" name="radios" ng-change="changeAction()"  ng-model="pageSize" value="5">
			    <label id="label1" for="radio1">5</label>
			    <input type="radio" id="radio2" name="radios" ng-change="changeAction()"  ng-model="pageSize" value="10" selected>
			    <label id="label2" for="radio2">10</label>
			    <input type="radio" id="radio3" name="radios" ng-change="changeAction()"  ng-model="pageSize" value="15">
			    <label id="label3" for="radio3">15</label>	
			    </div>
			</td>
		</tr>
	</table>
	<table id="tableData" class="main-table" cellspacing="0" cellpadding="0">
		<thead ng-if="lengthClientsPA != 0">
			<th></th>
			<th>Name</th>
			<th>Email</th>
			<th>Sent</th>
			<th>Returned</th>
			<th style="padding-right:15px">Taken</th>
		</thead>
		<tbody>
			<tr class="hover-tr" ng-repeat="client in lengthClientsPA = (clients | filter:{name:searchNameA, taken:selectTaken, email:searchEmailA} | orderBy:'surname')" ng-if="$index >= (currentPage * pageSize) && $index < ((currentPage+1)*pageSize)">
				<td class="td-status"><a href="#/participants/{{client.id}}"><img ng-src="images/profiles/{{client.image}}" onerror="this.src='images/profiles/error.png';" style="border-radius: 100%;"></a></td>
				<td class="td-name"><a href="#/participants/{{client.id}}">{{client.name}} {{client.surname}}</a></td>
				<td>{{client.email}} </td>
				<td>{{client.testSent}}</td>
				<td>{{client.testReturn}}</td>
				<td class="td-status"><img ng-src="images/{{client.taken}}.png" onerror="this.src='images/error.png';"></td>
			</tr>
			<tr ng-if="lengthClientsPA == 0"><td style="padding-left: 25px;color:#666">No search result</td></tr>
		</tbody>
	</table>
	
	<table id="tool" ng-if="lengthClientsPA != 0">
		<tr>
			<td>			
 		 		<button ng-click="paging(0)">Prev</button>
 				<span id="currentPage" ng-click="paging(currentPage)" style="color:#222">{{currentPage + 1}}</span>
 				<span id="currentPage" ng-if="(currentPage + 2) <= pageNumber" ng-click="paging(currentPage)">{{currentPage + 2}}</span>
 				<span id="currentPage" ng-if="(currentPage + 3) <= pageNumber" ng-click="paging(currentPage)">{{currentPage + 3}}</span>
				<button ng-click="paging(1)">Next</button>
 				</td>
			<td><button class="send">New</button>
</td>
		</tr>
	</table>
</div>
<div class='alt'>Add new participant</div>
<div id="right-container">
	<div id="filter" class="box filter">
		<span>Filter</span>
		<div id="filter-container">
			<input type="text" placeholder="Name" onblur="this.placeholder='Name'" onfocus="this.placeholder=''" ng-model="searchNameA" ng-change="changeAction()"><br>
			<input type="text" placeholder="Email adress" onblur="this.placeholder='Email adress'" onfocus="this.placeholder=''" ng-model="searchEmailA" ng-change="changeAction()"><br>
			<!-- <select ng-model="selectTaken" ng-change="changeAction()">
				<option value="" selected>All</option>
				<option value="done">Done</option>
				<option value="inProcess">In process</option>
				<option value="failed">Failed</option>
			</select> -->
			<span id="select">
				<div ng-if="selectTaken == null || selectTaken == ''">All</div>
				<div ng-if="selectTaken != null">{{selectTaken}}</div>
			</span>
			<div id="selectMenu" class="menu">
                <ul ng-model="selectTaken">
                    <li ng-click="selectTaken=''">All</li>
                    <li ng-click="selectTaken='done'">Done</li>
                    <li ng-click="selectTaken='inProcess'">In process</li>
                    <li ng-click="selectTaken='failed'">Failed</li>
                </ul>
            </div>
		</div>
	</div>
	<div id="chart-taken" ng-controller="ClientsChartsCtrl" class="chart" google-chart chart="chartPie"/>
</div>

</section>


