<div class="frame-containar" ng-show="show">
	<div id="close-box" ng-click="show = false"></div>
	<div class="frame">
		<div class="head">
			<span class="left"><img src="/dist/images/profiles/error.png"></span>
			<span class="left title">{{title}}</span>
			<span class="right"><button  id="close" ng-click="show = false">Close</button></span>
		</div>
		<div id="popUpDialogMain" class="main">
			<pop-up-dialog-data ng-if="type === 'data'"></pop-up-dialog-data>
			<pop-up-dialog-schedule ng-if="type === 'schedule'"></pop-up-dialog-schedule>				
		</div>
		<div class="tool">
			<span class="left"><button class="btn succes" ng-click="newParticipant()">{{btnTitle}}</button></span>
			<span class="right"><button id="cancel" class="cancel" ng-click="clearFields()">Cancel</button></span>
		</div>
	</div>
</div>