<script type="text/javascript">
	$("button.send").click(function() {
			$("div.send-test").fadeIn("fast");
			$("div.profile div.info-profile div.details").fadeOut("fast");
			$("#send-profile").fadeOut("fast");
			$(".info-profile").fadeOut("fast");
	});
	$("#close").click(function() {
			$("div.send-test").fadeOut("fast");
			$("#send-profile").fadeIn("fast");
			$(".info-profile").fadeIn("fast");
			$("div.profile div.info-profile div.details").fadeIn("fast");		
	});
	$(".chеck").click(function() {
			alert();
	});
</script>
<div ng-controller="ClientsProfileCtrl">
<div class="send-test">
	<div>
		<div class="head">
			<table>
				<tr>
					<td class="img"><img class="avatar-send" ng-src="images/profiles/id{{client.id}}-avatar.jpg" onerror="this.src='images/profiles/error.png';"></td>
					<td><span><b>{{client.email}}</b></span>
					<button id="close">Close</button></td>
				</tr>
			</table>	
		</div>
		<form method="POST">
		<div class="action">
			Language
			<select required>
				<option>Java</option>
				<option>JavaSript</option>
				<option>HTML</option>
				<option>CSS</option>
			</select><br>
			<br>Сomplication  
			    <input type="radio" id="radio1" name="radios" value="hard" required>
			    <label for="radio1">Hard</label>
			    <input type="radio" id="radio2" name="radios"value="middle">
			    <label for="radio2">Middle</label>
			    <input type="radio" id="radio3" name="radios" value="easy">
			    <label for="radio3">Easy</label> <br>
			<br>Message<br>
			<textarea rows="6" autofocus></textarea>
		</div>
		<div class="tool">
			<button class="send">Send test</button>
		</div>
	</form>
	</div>
</div>
<section>	
<div id="x" class="box profile">
	<img ng-src="images/profiles/id{{client.id}}-bg.jpg" onerror="this.src='images/profiles/default.jpg'">
	<div class="info-profile">
		<img class="avatar" ng-src="images/profiles/id{{client.id}}-avatar.jpg" onerror="this.src='images/profiles/error.png';">
		<div class="general-info">
			<div class="name"><input value="{{client.name}} {{client.surname}}"></div>
			<div class="city">
				
				<!-- <input value="{{client.city}}">
				<input value="{{client.city}}">
				<input value="{{client.city}}">
				<input value="{{client.city}}"> -->
			</div>
		</div>

	</div>

	<div class="history">
		<button id="send-profile" class="send">Send test</button>
		<!-- <ul>
			<b>Perfomed tests</b>
			<li ng-repeat="test in client.perfomedTests"> {{test}} </li>
			<li>Birthday: 22.22.15</li>
			<li>Studied at: KEP</li>
			<li>Specialty: Dev</li>
			<li>English level: Intermediate</li>
		</ul> -->
		<table>
			<tr>
				<td>Birthday</td>
				<td><input value="{{client.birthday}}"></td>
			</tr>
			<tr>
				<td>City</td>
				<td><input value="{{client.city}}"></td>
			</tr>
			<tr>
				<td>Contact</td>
				<td><input value="{{client.email}}"></td>
			</tr>
			<tr>
				<td>Specialty</td>
				<td><input value="{{client.specialty}}"></td>
			</tr>
			<tr>
				<td>English level</td>
				<td><input value="{{client.englishLevel}}"></td>
			</tr>
		</table>
	</div>
</div>

<div id="activity"class="box profile">
	<span>Activity</span>
	<table id="activity" class="main-table">
		<thead>
			<th>Technology</th>
			<th>Taken</th>
			<th>Review</th>
		</thead>
		<tbody>	
		<tr class="hover-tr"ng-repeat="act in client.activity">
			<td>{{act.technology}}</td>
			<td><img ng-src="images/{{act.taken}}.png" onerror="this.src='images/errTaken.png'"></td>
			<td><button class="view {{act.review}}"></button></td>
		</tr>
		</tbody>
	</table>
</div>

<div id="chart-profile" class="chart" google-chart chart="clientStatistics"/>

</section>


</div>

