<div class="send-test">
	<div id="close-box" ></div>
	<div id="main">
		<div class="head">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="img"><img ng-src="images/profiles/avatar.jpg" onerror="this.src='images/profiles/error.png';"></td>
					<td><span>{{client.email}}</span></td>
					<td><button id="close" translate>CLOSE</button></td>
				</tr>
			</table>
		</div>
		<form method="POST">
		<div class="action">
			<table>
				<tr>
					<td translate>LANGUAGE</td>
					<td><div id="select_langProg" ng-controller="CustomSelect" ng-init="createSelect('langProg')"/></td>
				</tr>
				<tr>
					<td translate>DIFFICULTY</td>
					<td class="radio-td">
						<input type="radio" id="radio1" name="radios" value="hard">
					    <label for="radio1">Hard</label>
					    <input type="radio" id="radio2" name="radios"value="middle">
					    <label for="radio2">Middle</label>
					    <input type="radio" id="radio3" name="radios" value="easy">
					    <label for="radio3">Easy</label>
					</td>
				</tr>
				<tr>
					<td colspan="2" translate>MESSAGE<br><br><textarea class="textarea" rows="6" autofocus></textarea></td>
				</tr>
			</table>
		</div>
		<div class="tool">
			<button class="send" translate>SEND_TEST</button>
			<button id="close" style="float:right" ng-click="clearFields()">Cancel</button>
		</div>
	</form>
	</div>
</div>
<section>
<div id="x" class="box profile">
	<img ng-src="images/profiles/bg.jpg" onerror="this.src='images/profiles/default.jpg'">
	<div class="info-profile">
		<img class="avatar" ng-src="images/profiles/id{{client.image}}" onerror="this.src='images/profiles/error.png';">
		<div class="general-info">
			<div class="name"><input value="{{client.firstName}} {{client.lastName}}"></div>
		</div>

	</div>

	<div class="history">
		<button id="send-profile" class="send" translate>SEND_TEST</button>
		<table>
			<!-- <tr>
				<td>Birthday</td>
				<td><input value="{{client.birthday}}"></td>
			</tr> -->
			<tr>
				<td translate>CITY</td>
				<td><input value="{{client.city}}"></td>
			</tr>
			<tr>
				<td translate>CONTACT</td>
				<td><input value="{{client.email}}"></td>
			</tr>
			<tr>
				<td translate>SPECIALITY</td>
				<td><input value="{{client.specialty}}"></td>
			</tr>
			<tr>
				<td translate>ENGLISH_LEVEL</td>
				<td><input value="{{client.englishLevel}}"></td>
			</tr>
		</table>
	</div>
</div>
<div id="profile-send-alt" class='alt'>Send test to {{client.name}}</div>
<div id="conteiner-profile">
<div id="activity" class="box profile">
	<table id="head">
		<tr>
			<td translate>ACTIVITY</td>
		</tr>
	</table>
	<table id="activity" class="main-table" cellspacing="0" cellpadding="0">
		<thead>
			<th translate>TECHNOLOGY</th>
			<th translate>TAKEN</th>
			<th>Complication</th>
			<th translate>REVIEW</th>
		</thead>
		<tbody>
		<tr class="hover-tr"ng-repeat="act in client.activity">
			<td>{{act.technology}}</td>
			<td><img ng-src="images/{{act.taken}}.png" onerror="this.src='images/errTaken.png'"></td>
			<td>{{act.complication}}</td>
			<td><button class="view {{act.review}}"></button></td>
		</tr>
		</tbody>
	</table>
</div>
<div id="chart-profile" class="chart" google-chart chart="clientStatistics"/>



</div>

</section>
