<div class="panel-admin">
	<div class="title"><span class="left">{{lengthClientsPA.length}} {{infoTable.title}}</span>
	<span class="right">
		<div>
		<select class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
			<option>3</option>
			<option>5</option>
			<option>10</option>
			<option>20</option>
			<option>30</option>
			<option>40</option>
			<option>50</option>
		</select>
	    </div>
	</span></div>
	<div class="main table-responsive">
 	<table class="table-admin">
 		<thead>
 			<th></th>
 			<th ng-repeat="column in infoTable.columns"ng-class = "{'sort-up':isSortUp('firstName'), 'sort-down':isSortDown('firstName')}" ng-click="sort('firstName')" translate>{{column}}</th>
 		</thead>
 		<tbody>
	 	  <tr ng-repeat="row in lengthClientsPA = ((data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))) |
	 	  			filter:{ firstName:searchNameA, taken:selectTaken, email:searchEmailA, role:selectRole} |
			orderBy: sortField:reverse)">
	      	<td class="image">
				<a href="/participants/{{row.id}}">
				<img ng-src="images/profiles/{{row.image}}" onerror="this.src='dist/images/profiles/error.png';">
			</a></td>
	        <td><a href="/users/{{row.id}}">{{row.firstName}} {{row.lastName}}</a></td>
	        <td>{{row.email}}</td>
	        <td>{{row.sent}}</td>
			<td>{{row.returned}}</td>
			<td class="td-status"><img ng-src="dist/images/{{row.taken}}.png" onerror="this.src='dist/images/error.png';"></td>
	      </tr>
      	</tbody>
	</table>
	</div>
	<div class="tool">
	<span class="left">
		<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
		<br>
	</span>
	<span class="right"><button id="addParticipants" class="btn succes" ng-click="addParticipant = true">New</button></span>
	</div>
</div>

