<div ng-controller="TasksCtrl" ng-init="getTaskList()">
	<div ng-show="visibleMessageDel">
		<div id="messageDeleteBox"></div>
		<div id="messageDelete">
			<h1>Are you sure that you want to delete the task "{{titleTaskDel}}"?</h1>
			<div class="buttonMessageDel" id="TDel" ng-click="getTaskList();visibleMessageDel=!visibleMessageDel;"><h1>Delete</h1></div>
			<div class="buttonMessageDel" id="TCanc" ng-click="visibleMessageDel=!visibleMessageDel;"><h1>Cancel</h1></div>
		</div>
</div>
	<div class="Tbox" ng-show="!Visible">
		<img src="images/close.png" ng-click="changeFrame('empty')" />
		<form method="POST">
			<table>
				<tr>
					<td class="Ttitle">Title task:</td>
					<td><input id="inputTitle" type="text" ng-model="titleTaskC" required></td>
				</tr>
				<tr>
					<td class="Ttitle">Difficalty:</td>
					<td><select class="selectBl" ng-model="diffTaskC" name="difficalty" required>
						<option value="Eazy">Eazy</option>
						<option value="Middle">Middle</option>
						<option value="Hard">Hard</option>
					</select></td>
				</tr>
				<tr>
					<td class="Ttitle">Technology:</td>
					<td>
					<select class="selectBl" ng-model="techTaskC" name="technology" required>
						<option value="Java">Java</option>
						<option value="PHP">PHP</option>
						<option value="C#">C#</option>
					</select>
					</td>
				</tr>
				<tr>
					<td class="Ttitle">
						Task:{{TaskId}}
					</td>
				</tr>
		</table>
	</form>
	<div id="build-editor" ui-ace ng-model="TaskC"></div>
				<button class="send" ng-click="Visible=!Visible;">{{buttonTbox}}</button>
	</div>


	<div id="Tbox" ng-show=Visible>
		<div>
			<input type="text" placeholder="Title Task" onblur="this.placeholder='Title Task'" onfocus="this.placeholder=''" ng-model="searchTask">
			<select class="selectBl" ng-model="technology">
				<option value="" selected>All</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="C#">C#</option>
			</select>
			<select class="selectBl" ng-model="difficalty">
				<option value="" selected>All</option>
				<option value="eazy">Eazy</option>
				<option value="middle">Middle</option>
				<option value="hard">Hard</option>
			</select>
		</div>

		<table id="table-dashboard">
  		<thead>
				<td><div class="tableTitle">Title task</div></td>
				<td><div class="tableCubicle">Technology</div></td>
				<td><div class="tableCubicle">Last modify</div></td>
				<td><div class="tableCubicle">Difficalty</div></td>
				<td><div id="tableRefresh"><img id="refreshImage" src="images/refresh.png" ng-click="getTaskList();" /></div></td>
  		</thead>

		</table>
		<div id="boxWithTasks">
			<table id="table-dashboard">
				<thead></thead>
  			<tbody>
  				<tr class="hover-tr" ng-repeat="task in allTasks | filter:{title:searchTask,language:technology,level:difficalty}">
						<td><div class="tableTitle">{{task.title}}</div></td>
						<td><div class="tableCubicle">{{task.language}}</div></td>
						<td><div class="tableCubicle">{{task.added}}</div></td>
						<td><div class="tableCubicle">{{task.level}}</div></td>
						<td id="blockEdit"><img ng-click="changeFrame(task.id);CreateOrChangeTask('Change Task');" id="editImage" src="images/edit.jpg" /></td>
						<td id="blockEdit"><img ng-click="delTask(task.id);" src="images/trash.png" id="deleteImage" /></td>
					</tr>
  			</tbody>
  		</table>
		</div>
		<!--Change view scroll strip -->
<script>
	(function($){
		$(window).load(function(){
			$('#boxWithTasks').mCustomScrollbar({
				theme:"minimal-dark"
			});
	});
		})(jQuery);
	</script>
		<div class="toolT">
			<button id="add" ng-click="changeFrame('empty'); CreateOrChangeTask('Create Task');">Add</button>
		</div>
	</div>

</div>
