<div ng-controller="TasksCtrl" ng-init="getTaskList()" id="mainTasksBox">
	<!--Change view scroll strip -->
	<script>
	(function($){
		$('#boxWithTasks').mCustomScrollbar({
			theme:"minimal-dark"
		});
	})(jQuery);
	</script>
	<div ng-show="visibleMessageDel">
		<div id="messageDeleteBox"></div>
		<div id="messageDelete">
			<h1>Are you sure that you want to delete the task "{{titleTaskDel}}"?</h1>
			<div class="buttonMessageDel" id="TDel" ng-click="deletedTask();;visibleMessageDel=!visibleMessageDel;"><h1>Delete</h1></div>
			<div class="buttonMessageDel" id="TCanc" ng-click="visibleMessageDel=!visibleMessageDel;"><h1>Cancel</h1></div>
		</div>
</div>
	<div class="Tbox" ng-show="!Visible">
		<img src="images/close.png" ng-click="changeFrame('empty');changeButtonBack();" />
		<form method="POST">
			<table>
				<tr>
					<td class="Ttitle">Title task:</td>
					<td><input id="inputTitle" type="text" ng-model="titleTaskC" required ng-change="changeButton()"></td>
				</tr>
				<tr>
					<td class="Ttitle">Difficalty:</td>
					<td><select class="selectBl" ng-model="diffTaskC" name="difficalty" required ng-change="changeButton()">
						<option value="Eazy">Eazy</option>
						<option value="Middle">Middle</option>
						<option value="Hard">Hard</option>
					</select></td>
				</tr>
				<tr>
					<td class="Ttitle">Technology:</td>
					<td>
					<select class="selectBl" ng-model="techTaskC" name="technology" required ng-change="changeButton()">
						<option value="Java">Java</option>
						<option value="PHP">PHP</option>
						<option value="C#">C#</option>
					</select>
					</td>
				</tr>
				<tr>
					<td class="Ttitle">
						Task:{{TaskId}}
					</td>
				</tr>
		</table>
	</form>
	<div id="build-editor" ui-ace ng-model="TaskC" ng-change="changeButton()"></div>
	<button id="sendT" ng-disabled="!anableButton" ng-click="Visible=!Visible;changeButtonBack();">{{buttonTbox}}</button>
	</div>

	<div id="TBox" ng-show=Visible>
		<!---->
		<div id="boxFindTask">
				<h3>Find Task:</h1>
			<div>
				<input type="text" placeholder="Title Task" onblur="this.placeholder='Title Task'" onfocus="this.placeholder=''" ng-model="searchTask"></br>
			</div>
					<div>
						Technology:
						<select class="selectBl" ng-model="technology">
							<option value="" selected>All</option>
							<option value="Java">Java</option>
							<option value="PHP">PHP</option>
							<option value="C#">C#</option>
						</select>
					</div>
					<div>
						Difficalty:
						<select class="selectBl" ng-model="difficalty">
							<option value="" selected>All</option>
							<option value="eazy">Eazy</option>
							<option value="middle">Middle</option>
							<option value="hard">Hard</option>
						</select>
					</div>
					<div>
						Last modify:<br>
						<div id="boxWithDate">
							<select class="selectBl" id="day" ng-model="dayForFilter">
								<option value="" selected></option>
									<option ng-repeat="numberDay in days" value={{numberDay}}>{{numberDay}}</option>
								</select>
							<select class="selectBl" id="mounth" ng-model="mounthForFilter">
								<option value="" selected></option>
								<option value="01">January</option>
								<option value="02">February</option>
								<option value="03">March</option>
								<option value="04">April</option>
								<option value="05">May</option>
								<option value="06">June</option>
								<option value="07"> July</option>
								<option value="08">August</option>
								<option value="19">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>
							</select>
							<select class="selectBl" id="year" ng-model="yearForFilter">
								<option value="" selected></option>
								<option value="2014">2014</option>
								<option value="2015">2015</option>
								<option value="2016">2016</option>
							</select>
						<!-- ne add select data modify -->
						</div>
						<br><br>
						<div id="boxFound">Found tasks: {{allTasks.length}}</div>
					</div>
		</div>
		<div id="boxWithTitle">
		<table id="table-dashboard">
  		<thead>
				<td><div class="tableTitleT" ng-click="sortType='title';sortReverse=!sortReverse">Title task<img ng-show="sortType == 'title' && sortReverse" class="imageForSort" src="images/sortup.png"><img ng-show="sortType == 'title' && !sortReverse" class="imageForSort" src="images/sortdown.png"></div></td>
				<td><div class="tableCubicleT" ng-click="sortType='language';sortReverse=!sortReverse">Technology<img ng-show="sortType == 'language' && sortReverse" class="imageForSort" src="images/sortup.png"><img ng-show="sortType == 'language' && !sortReverse" class="imageForSort" src="images/sortdown.png"></div></td>
				<td><div class="tableCubicleT">Last modify</div></td>
				<td><div class="tableCubicleT"ng-click="sortType='level';sortReverse=!sortReverse">Difficalty<img ng-show="sortType == 'level' && sortReverse" class="imageForSort" src="images/sortup.png"><img ng-show="sortType == 'level' && !sortReverse" class="imageForSort" src="images/sortdown.png"></div></td>
				<!-- <td><div id="tableRefresh"><img id="refreshImage" src="images/refresh.png" ng-click="getTaskList();" /></div></td> -->
  		</thead>
		</table>
		</div>
		<div id="boxWithTasks">
			<table id="table-dashboard">
				<thead></thead>
  			<tbody>
  				<tr class="hover-tr" ng-repeat="task in allTasks | orderBy:sortType:sortReverse | filter:{title:searchTask,language:technology,level:difficalty,day:dayForFilter,mounth:mounthForFilter,year:yearForFilter}" ng-click="sortReorder(task.title,$event)">
						<td><div class="tableTitle">{{task.title}}</div></td>
						<td><div class="tableCubicle">{{task.language}}</div></td>
						<td><div class="tableCubicle">{{task.day+"."+task.mounth+"."+task.year}}</div></td>
						<td><div class="tableCubicle">{{task.level}}</div></td>
						<td id="blockEdit"><img ng-click="changeFrame(task.id);CreateOrChangeTask('Change Task');" id="editImage" src="images/edit.jpg" /></td>
						<td id="blockEdit"><img ng-click="delTask(task.id,false);" src="images/trash.png" id="deleteImage" /></td>
					</tr>
  			</tbody>
  		</table>
			<script>console.log(window.countTask)</script>
		</div>

		<div class="toolT">
			<button id="add" ng-click="changeFrame('empty'); CreateOrChangeTask('Create Task');">Add</button>
		</div>
	</div>

</div>
