<script type="text/javascript">
    $("#datepicker").datepicker();
</script>
<div class="send-test">
	<div>
		<div class="head">
			<table>
				<tr>
					<td class="img"><img class="avatar-send" src="images/profiles/error.png"></td>
					<td><span>New user</span></td>
					<td><button id="close">Close</button></td>
				</tr>
			</table>	
		</div>
		<form method="POST">
		<div class="action">
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" ng-model="userName"></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" ng-model="firstName" required></td>
				</tr>
				<tr>
					<td>Surname</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>Permissions</td>
					<td>
						<select>
							<option>Admin</option>
							<option>Manager</option>
							<option>Recruiter</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Contact</td>
					<td><input type="date"></td>
				</tr>
			</table>
		</div>
		<div class="tool">
			<button ng-click="addRowAsyncAsJSON()" class="send">Add user</button>
		</div>
	</form>
	</div>
</div>

<section>
<div class="box" ng-controller="UsersListCtrl">
	
	<table id="tableData" class="main-table" cellspacing="0" cellpadding="0">
		<span>Users
		<div id="page-size">
			<select 
			ng-change="changeAction()" 
			ng-model="pageSize" 
			ng-options="opt as opt for opt in pageSizes"></select>
		</div>
		</span>
		<thead>
			<th></th>
			<th>Name</th>
			<th>Email</th>
			<th>Permissions</th>
		</thead>
		<tbody>
			<tr class="hover-tr" ng-repeat="user in lengthClientsPA = (users | filter:{name:searchNameA, taken:selectTaken, email:searchEmailA} | orderBy:'surname')" ng-if="$index >= (currentPage * pageSize) && $index < ((currentPage+1)*pageSize)">
				<td class="td-status"><img ng-src="images/profiles/{{user.image}}" onerror="this.src='images/profiles/error.png';" style="border-radius: 100%"></td>
				<td class="td-name"><b>{{user.firstName}} {{user.lastName}}</b></td>
				<td>{{user.email}}</td>
				<td>
					<div ng-if="user.role == 'ROLE_ADMIN'" style="color: #aec785"><b>Admin</b></div>
					<div ng-if="user.role == 'ROLE_MANAGER'" style="color: #f4d66c"><b>Manager</b></div>
					<div ng-if="user.role == 'ROLE_RECRUITER'" style="color: #8491c7"><b>Recruiter</b></div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="tool">
		<button class="send">Add</button>
		<button ng-click="currentPage = 0">Start</button>
		<button ng-click="paging(0)">Previous</button>
		<button ng-click="paging(1)">Next</button>
		<button ng-click="currentPage = (pageNumber - 1)">End</button>
	</div>
	<span>{{currentPage + 1}} in {{pageNumber}} | {{lengthClientsPA.length}} Elements</span>
</div>
<div class='alt'>Add new user</div>
<div id="right-container">
	<div id="filter" class="box filter">
		<span>Filter</span>
		<div id="filter-container">
			<input type="text" placeholder="Name" onblur="this.placeholder='Name'" onfocus="this.placeholder=''" ng-model="searchNameA" ng-change="pageSize = 20"><br>
			<input type="text" placeholder="Email adress" onblur="this.placeholder='Email adress'" onfocus="this.placeholder=''" ng-model="searchEmailA"><br>
			<select ng-model="selectTaken">
				<option value="" selected>All</option>
				<option value="done">Done</option>
				<option value="inProcess">In process</option>
				<option value="failed">Failed</option>
			</select>
		</div>
	</div>
</div>

</section>
