<div>
<div ng-controller="mainCTRL" ng-init="initTaskText()">
<div id="header">
		<div class="logo">interview<span id="span-logo">.code</span></div>
		<div class="send-request"></div>

	</div>
	<div id="tasksBox">
	<div id="fullTask">
		<div id="Back"><img src="images/Back.png" alt="" ng-click="TaskListVisible=!TaskListVisible"></div>
		<div id="titleTask">{{'Task '+NumberTask}}</div>

		<div id="Task"><p>{{ TaskShow }}</p></div>
		<div id="ListTasks" ng-show="TaskListVisible">
		<table>
			<tr  ng-click="changeText(NumberTask); TaskListVisible=!TaskListVisible; NumberTask=1; ShowTask(); newText(NumberTask);">
				<td class="width-td"><div class="taskButton">1</div></td>
				<td>Task</td>
			</tr>
			<tr  ng-click="changeText(NumberTask); TaskListVisible=!TaskListVisible; NumberTask=2; ShowTask(); newText(NumberTask);">
				<td><div class="taskButton">2</div></td>
				<td>Task</td>
			</tr>
			<tr ng-click="changeText(NumberTask); TaskListVisible=!TaskListVisible; NumberTask=3; ShowTask(); newText(NumberTask);">
				<td><div class="taskButton">3</div></td>
				<td>Task</td>
			</tr>
		</table>
		</div>
	</div>
	<div id="runAndAtServer">
		<div id="atServer">
			<button id="buttonAtServer">AT SERVER</button>
		</div>
		<div id="run">
			<button id="buttonRun">RUN</button>
		</div>

	</div>
	</div>

<div>
	<div id="menuBar">
		<div class="menuBox">
			<img class="Icons" id="code-editor" src="images/code-editor.svg" alt="" title="Show program editor" ng-click="ShowPr()">
			<img class="Icons" id="test-editor" src="images/test-editor.svg" title="Show test editor" ng-click="ShowTest()">
			<img class="Icons" id="test-code-editor" src="images/test-code-editor.svg" alt="" title="Show all editors" ng-click="ShowAll()">
			<img class="Icons" id="compiled" src="images/compiled.svg" alt="" title="Show debug message" ng-click="ShowLogMessage()">

		</div>

	</div>

	<div id="baseArea" >
		<div id="programEditor" >
			<div id="files" > ProgramEditor</div>
			<div class="editor" ui-ace ng-model="programText">sdc</div>
		</div>

		<div id="testEditor">
			<div id="files">TestEditor</div>
			<div class="editor" ui-ace ng-model="testText"></div>
		</div>
		<div id="logMess" ng-model="logText"></div>

	</div>
</div>
</div>
</div>
