button, button:active, button:focus{
	outline: none !important;
}

.btn {
	border-color: transparent;
	color: #999;
	font-weight: 300;
	font-size: 13px;
	font-family: Open Sans, Tahoma;
	padding: 3px 10px;
	cursor: pointer;
	border-radius: 2px;
	margin: 13px;
}

/*.btn:hover {
	background: #d8d8d8;
	color: #9d9d9d;
}*/

.btn:active {
  background: #cecece;
  color: #808080;
}

.succes{
	background: #AEC785;
	color: #fff;
	text-shadow: 0 1px 0 #a2b57d;
}

.succes:hover{
	background: #a2b57d;
	color: #fff;
}

.succes:active, .succes:focus{
	color: #fff;
}

.cancel{
	background: transparent;
	margin: 15px;
	color: #999;
	font-weight: 300;
	font-size: 13px;
	border: none;
}

.cancel:hover{
	color: #333;
	text-decoration: underline;
}

.logout{
	/*text-align: left;*/
	background-repeat: no-repeat;
	background-size: 16px;
	background-image: url("/dist/images/logout.svg");
}
.sent {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}
.sent:hover {
	background: transparent;
	color: #AEC785;
	border-color: #AEC785;
}

.sent:active {
	background: #AEC785;
	box-shadow: none;
	border-color: #AEC785;
	color: #fff;
}

.sent:focus {
	color: #fff;
	box-shadow: none;
}

.review {
	background: transparent;
	color: #777;
	font-weight: 500;
}

.review:hover{
	background: transparent;
	color: #333;
	border-color: #777;
}

.review:active {
	box-shadow: none;
	background: #333;
	color: #eee;
	border-color: #333;
}

.lang {
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("/dist/images/en.png");
	width: 40px;
	height: 30px;
	border: 3px solid transparent;
}

.lang:hover {
	border-color: #ddd;
}

#del:hover {
	background: rgba(247, 6, 6, 0.53);
}
