.ace_editor {
	font-size: 14px !important;
	font-family: Source Code Pro !important;
	border-radius: 0 0 5px 5px !important;
}

#code {
	height: 400px !important;
}

#run {
	position: absolute;
	font-weight: bold;
	z-index: 1000;
	right: 0;
	margin: 25px;
	margin-top: -40px;
}

#console {
	background-color: rgba(34, 34, 34, .8);
	font-size: 14px;
	font-family: Source Code Pro !important;
	border-radius: 0 0 5px 5px !important;
	width: 100% !important;
	min-height: 120px;
	color: #fff;
	font-weight: normal;
	border: none;
	margin-bottom: -5px;
}

#timer {
	color: #555;
}