.frame-containar{
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(34,34,34,0.6);
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.frame {
  position: relative;
  min-width: 200px;
  min-height: 300px;
  background: #eee;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 70px;
}

.frame .head{
  width: 100%;
  height: 50px;
  background: #333;
}

.frame .head img{
  width: 30px;
  margin: 10px;
}

.frame .head button{
  background: transparent;
  border: none;
  color: #888;
  margin: 15px;
  font-size: 13px;
}

.frame .head button:hover{
  color: #fff;
}

.frame .head span.title{
  color: #fff;
  margin: 15px;
  margin-left: 0;
  font-size: 13px;
}

.frame .main{
  margin-top: 0;
  width: 100%;
  min-height: 200px;
}

.frame .tool{
  margin-top: 0;
  width: 100%;
  height: 50px;
}
.frame .main table{margin-top: 10px;}
.frame .main table, .frame .main table input{
  width: 100%;
}

.frame .main table tr td{
  padding: 5px;
}

.frame .main table tr td:nth-child(1){
  width: 100px;
  padding-left: 20px;
  font-size: 13px;
}

.frame .main table tr td:nth-child(2){
  padding-right: 15px;
}

#close-box {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.frameForResponse{
  z-index: 2010;
  position: fixed;
  background-color: rgb(233, 237, 242);
  margin-top:15%;
  margin-left: 10%;
  padding:20px 80px 15px 80px;
  border-radius: 4px;
}

.frameForResponse span{
  text-align: center;
}

.frameForTask{
  position: fixed;
  margin:1%;
  width: 80%;
  height: 90%;
  z-index: 2010;
  padding: 5px;
  background-color: rgba(245, 245, 249, 1);
  border-radius: 5px;


}
