.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 70px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	background: #f0f0f0;
	color: #444;
	border-radius: 0;
	padding: 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
	right: 8px;
	top: 8px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
	color: #999;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
	color: #777;
}

table.dialog {
	width: 100%;
	margin-bottom: 15px;
}

table.dialog tr td{
	padding: 15px;
	padding-bottom: 0;
}

table.dialog tr td:nth-child(1){
	font-size: 13px;
	width: 100px;
	padding-right: 0;
}

table.dialog tr td:nth-child(2){
	padding-left: 0;
}

table.dialog input, table.dialog select{
	width: 100%;
	height: 30px;
}

.ngdialog.ngdialog-theme-default .tool{
  margin-top: 0;
  width: 100%;
  height: 50px;
}