.panel-admin{
	padding: 0;
	background: #fff;
	border-radius: 5px;
  	box-shadow: 0 1px 0 #e1e1e1;
  	width: 100%;
  	height: auto;
  	margin-bottom: 20px;
}

.panel-admin .title{
	width: auto;
	height: 32px;
	margin: 0;
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	color: #999;
}

.panel-admin .title .form-control{
	padding: 0;
	border: none;
	font-size: 12px;
	padding: 5px 10px;
}

.panel-admin .title a{
	color: #999;
}

.panel-admin .main{
	margin-bottom: 0px;
	display: block;
	width: 100%;
	height: auto;
}

.panel-admin .tool{
	display: block;
	width: 100%;
	height: auto;
	min-height: 50px;
	padding: 0;
}

.panel-admin .filter {
	margin: 15px;
}
.panel-admin .filter input, .panel-admin .filter select {
	width: 100%;
	margin-bottom: 15px;
	background: #fbfbfb;
	height: auto;
}

.chart{
	margin-top: 20px;
}

.activity .avatar{
	width: 35px;
}

.activity table {
	margin-bottom: 10px;
}

.activity table tbody tr:hover{
	background: transparent;
}

.activity table tbody tr td{
	padding-top: 0; 
	padding-bottom: 0; 
}

.activity table tbody tr td:nth-child(3){
	width: 50px;
}

.controls {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 10px;
	width: 10px;
    height: 100%;
    cursor: pointer;
}

.minimize {
	background-image: url('/dist/images/arrowUp.svg');
	margin-right: 5px;
}

.maximize {
	background-image: url('/dist/images/arrowDown.svg');
	margin-right: 5px;
}

.close-panel {
	background-image: url('/dist/images/close.svg');
}