#wrapper-workspace {
  padding-right: 300px;
  transition: all 0.4s ease 0s;
}

.sidebar-workspace-wrapper {
  padding-right: -300px;
  right: 0;
  width: 300px;
  background: #fff;
  font-size: 11px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1999;
  transition: all 0.4s ease 0s;
  border-left: 1px solid #e2e2e2;
}

#sidebarTask {
  z-index: 2000;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  margin-top: 15%;
}

@media (max-width:767px) {
  #wrapper-workspace {
    padding-right: 62px;
  }
  .sidebar-workspace-wrapper {
    right: -238px;
  }
  #wrapper-workspace.active {
    position: relative;
    right: 300px;
  }
  #wrapper-workspace.active .sidebar-workspace-wrapper {
    right: 300px;
    width: 300px;
    transition: all 0.4s ease 0s;
  }
  button#sidebar {
  	display: block;
  }
}

.task {
  color: #333;
  padding: 15px;
  font-size: 14px;
}

.task .title{
  font-size: 24px;
  font-weight: bold;
}

.tasks table{
  width: 100%;
  font-size: 15px;
  color: #e2e2e2;
  color: #333;
  margin-top: 15px;
}

.tasks table tr:hover {
  background: #eee;
  cursor: pointer;
}

.tasks table tr td{
  padding: 15px;
}

.participantInfo {
  background: #393939;
  height: 62px;
}

.participantInfo img{
  width: 35px;
  border-radius: 100%;
  margin: 15px;
  margin-right: 5px;
}

.participantInfo .title{
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}

.menu-humb {
  position: fixed;
  background-repeat: no-repeat;
  background-size: 48px;
  background-position: 50% 50%;
  background-image: url('/dist/images/menu_hamb.svg');
  background-color: #393939;
  width: 62px;
  height: 62px;
  float: right;
  right: 0;
  top: 0;
  border: none;
  z-index: 2000;
}

.menu-humb:hover {
  background-color: #414141;
}

.left-arrow {
  border: none;
  width: 20px;
  height: 20px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
  background-image: url('/dist/images/leftArrow.svg');
}