.sidebar{
	margin: 0;
	padding: 0;
	background: #333;
	/*width: 180px;*/
	height: 100%;
	font-size: 11px;
	/*margin-right:15px;*/
}

/* NAV */

.sidebar-nav { 
	margin-top: 25px;
	margin-left: 25px;
	padding: 0;
}

.sidebar-nav li{
	margin: 0;
	margin-bottom: 30px;
	font-size: 11px;
	font-weight: 600;
	display: block;
	color: #666;
	width: 100%;
}
.sidebar-nav a{
	padding: 15px;
	padding-left: 35px;
	background-image: url("/dist/images/db.svg");
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-size: 24px;
	height: auto;
	text-indent: 50%;
	text-align: center;
	color: #666;
}

.sidebar-nav a:hover, .sidebar-nav a:focus { 
	margin-left: 5px; 
	color: #fff; 
	text-decoration: none;
}

.sidebar-nav a#dashboard {
  background-image: url("/dist/images/db.svg");
}

.sidebar-nav a#dashboard:hover {
  background-image: url("/dist/images/db-h.svg");
}

.sidebar-nav a#dashboard:focus {
  background-image: url("/dist/images/db-h.svg");
}

.sidebar-nav a#participants {
  background-image: url("/dist/images/u.svg");
}

.sidebar-nav a#participants:hover {
  background-image: url("/dist/images/u-h.svg");
}

.sidebar-nav a#participants:focus {
  background-image: url("/dist/images/u-h.svg");
}

.sidebar-nav a#statistics {
  background-image: url("/dist/images/s.svg");
}

.sidebar-nav a#statistics:hover {
  background-image: url("/dist/images/s-h.svg");
}

.sidebar-nav a#statistics:focus {
  background-image: url("/dist/images/s-h.svg");
}

.sidebar-nav a#workspace {
  background-image: url("/dist/images/ws.svg");
}

.sidebar-nav a#workspace:hover {
  background-image: url("/dist/images/ws-h.svg");
}

.sidebar-nav a#tasks {
  background-image: url("/dist/images/t.svg");
}

.sidebar-nav a#tasks:hover {
  background-image: url("/dist/images/t-h.svg");
}

.sidebar-nav a#tasks:focus {
  background-image: url("/dist/images/t-h.svg");
}

/* USER INFO*/

.user-info-admin{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 180px;
	background: #222;
	background-size: 300%;
}

.user-info-admin img{
	margin-top: 25px;
	border-radius: 100%;
	width: 50%;
}

.user-info-admin .title{
	margin-top: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0 0 1px #333;
}

.user-info-admin .role{
	color: #fff;
	font-size: 12px;
}

/* LOG OUT */

.logout-admin{
	position: absolute;
	display: block;
	bottom: 0;
	width: 180px;
}

.logout-admin button{
	background: transparent;
	width: 100%;
	border: none;
	padding: 15px;
	color: #666;
	font-size: 13px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-size: 30px;
	background-image: url("/dist/images/logout-h.svg");
	background-position: 15% 50%;
}
.logout-admin button:hover{
	background-image: url("/dist/images/logout.svg");
	color: #fff;
}


#wrapper {
  padding-left: 180px;
  transition: all 0.4s ease 0s;
}

.sidebar-wrapper {
  margin-left: -180px;
  left: 180px;
  width: 180px;
  background: #333;
  font-size: 11px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 0;
  }
  .sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 180px;
  }
  #wrapper.active .sidebar-wrapper {
    left: 180px;
    width: 180px;
    transition: all 0.4s ease 0s;
  }
  button#sidebar {
  	display: block;
  }
}

@media (min-width:767px) {
	button#sidebar{
  		display: none;
  	}
}

button#sidebar {
	position: fixed;
	left: 20px;
	top: 20px;
	background-color: rgba(34, 34, 34, 0.7);
	width: 50px;
	height: 50px;
	border: none;
	background-image: url("/dist/images/mm.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	box-shadow: 0 2px 2px rgba(34, 34, 34, 0.5);
	border-radius: 100%;
	z-index: 2000;
}

button#sidebar:hover {
	background-color: rgba(34, 34, 34, 1);
}

button#sidebar:active {
	margin-top: 5px;
}