@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700italic,700,600,600italic,400italic,300italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600);
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: Open Sans;
  background: #F4F5F5;
}

/* TRANSITION */
a, button, tr, th, input, label, .ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before, .tab, textarea:focus {
  transition: 0.2s;
  outline: none !important;
}

a:focus {
  text-decoration: none;
}

.navbar {
  background: transparent;
  border-radius: 0;
  display: none;
  background: #333;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}




/*
 * Sidebar
 */

/* Hide for mobile, show later */

/*@media (max-width: 768px) {
  .sidebar {
  display: none;
}*/


/*  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    box-shadow: 1px 0 5px #999;
  }*/

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
}

/*
 * Main content
 */

.main .page-header {
  margin-top: 0;
  padding: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.right { float: right; padding: 0}
.left { float: left; padding: 0}

.table-responsive{
  border: none;
}

.navbar-toggle{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 0;
  background: transparent;
  background-image: url("/dist/images/mm.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
  margin-left: 10px;
}

.navbar-admin{
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.navbar-admin li{
  display: block;
}

.navbar-admin a{
  display: block;
  color: #666;
  text-decoration: none;
  padding: 10px;
}

.navbar-admin a:hover, .navbar-admin li:hover{
  /*background: #222;*/
  color: #fff;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-header .title {
  float: right;
  color: #fff;
  font-size: 14px;
  padding: 15px;
  padding-right: 0;
}

.navbar-header .image{
  width: 50px;
  height: 50px;
  display: block;
  margin: 0;
  padding: 10px;
  float: right;
}
.navbar-header .image img{
  width: 30px;
  border-radius: 100%;
}


.nopadding { padding: 0}
.nomargin { margin: 0}
.main-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#adminView{
  padding-left: 10px;
  padding-right: 10px;
}
