<div class="head">
	<span class="left"><img src="/dist/images/profiles/error.png"></span>
	<span class="left title">Add participant</span>
</div>
<form method="POST">
	<table class="dialog">
		<tr ng-if="dataTable === 'users'">
			<td translate>USERNAME</td>
			<td><input id="userName" type="text" ng-model="userName" size="30"></td>
		</tr>
		<tr>
			<td translate>FIRST_NAME</td>
			<td><input id="firstName" type="text" ng-model="firstName"></td>
		</tr>
		<tr>
			<td translate>LAST_NAME</td>
			<td><input id="lastName" type="text" ng-model="lastName"></td>
		</tr>
		<tr ng-if="dataTable !== 'users'">
			<td translate>CITY</td>
			<td><input id="city" type="text" ng-model="city"></td>
		</tr>
		<tr ng-if="dataTable === 'users'">
			<td translate>ROLE</td>
			<td><select class="form-control" ng-model="specialitySel" ng-options="o as o for o in speciality.options"></select></td>
		</tr>
		<tr ng-if="dataTable !== 'users'">
			<td translate>ENGLISH_LEVEL</td>
			<td><select class="form-control" ng-model="specialitySel" ng-options="o as o for o in speciality.options"></select></td>
		</tr>
		<tr ng-if="dataTable !== 'users'">
			<td translate>SPECIALITY</td>
			<td><select class="form-control" ng-model="specialitySel" ng-options="o as o for o in speciality.options"></select></td>
		</tr>
		<tr ng-if="dataTable !== 'users'">
			<td translate>CONTACT</td>
			<td><input id="contact" type="text" ng-model="contact"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input id="email" type="text" ng-model="email"></td>
		</tr>
	</table>
	<div class="tool">
		<span class="right"><button class="btn succes" ng-click="newParticipant()">Add</button></span>
	</div>
</form>
