@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #f4f5f5;
}

a {
  text-decoration: none;
}

#view {
  padding: 25px;
}

div.content div#header {
  width: 100%;
  height: 50px;
  /*background: #3498db;*/
  /*background: #16a085;*/
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 1px 0 #e1e1e1;
  z-index: 8;
}

.logo {
  float: left;
  padding-top: 12px;
  padding-left: 10px;
  /*margin-left: 11px;*/
}

div#container {
  width: 100%;
  margin: 0 auto;
  background: #34495e;
}

div.menu {
  margin-top: 5px;
  margin-left: 25px;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 2px #333;
  border-radius: 2px;
  width: 110px;
  display: none;
  z-index: 7;
}

div.menu ul {
  margin-top: 3px;
  margin-bottom: 3px;
  color: #555;
  font-family: Open Sans;
  font-size: 12px;
  list-style: none;
  text-align: left;
}

div.menu ul li {
  display: list-item;
  padding: 8px;
  padding-left: 16px;
}

div.menu ul li:hover {
  background: #eee;
}

div.menu a {
  color: #666;
}

div.menu a:hover {
  color: #444;
  display: block;
}

span.select {
  cursor: pointer;
  display: block;
  font-size: 13px;
  color: #e2e2e2;
  font-weight: bold;
  /*	border-bottom: 2px solid #e1e1e1;
*/
  border-radius: 0;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-size: 18px;
  background-image: url(../images/arrowDownSel.svg);
  background-position: right;
}

span.select:hover {
  /*border-bottom: 2px solid #34495e;*/
  color: #333;
  background-image: url(../images/arrowDownSel-h.svg);
}

span.selectNewPart,
.textarea {
  border: 1px solid #eee;
  background-color: #fff;
  color: #d8d8d8;
}

span.selectNewPart:hover,
.textarea:hover {
  border-color: #d8d8d8;
  color: #333;
}

.textarea {
  width: 100%;
  padding: 10px;
  padding-left: 10px;
  font-family: Open Sans, Tahoma;
  font-size: 13px;
  resize: none;
  font-weight: normal;
  color: #333;
}

div.selectMenu {
  display: none;
  margin: 0;
  margin-top: 5px;
  width: 65%;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  /*	border-top: none;*/
  /*	border-bottom: 2px solid #34495e;
	/*background: rgba(255,255,255,0.8);*/
}

div.inSentBox {
  width: 69%;
}

div.selectMenu #disabled {
  color: #d8d8d8;
}

div.selectMenu #disabled:hover {
  background: transparent;
  cursor: default;
}

div.selectMenu li {
  cursor: pointer;
}

div.selectMenu li:hover {
  color: #222;
}

li,
li a,
a,
tr {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

tr,
button,
textarea,
label,
th,
div.logout a,
input,
select,
span {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.content {
  width: auto;
  overflow: hidden;
  /*height: calc(100% - 50%);*/
  height: auto;
  font-family: Open Sans, Tahoma;
  background: #f4f5f5;
  margin-left: 180px;
  padding: 0px;
  color: #424242;
}

div.mobile {
  display: block;
  cursor: pointer;
  float: left;
  width: 50px;
  height: 50px;
  color: #fff;
  padding: 0px;
  background-repeat: no-repeat;
  background-image: url(../images/menu.png);
  background-size: 100%;
}

div.mobile:hover {
  background-image: url(../images/menu-h.png);
}

/*	SEARCH	*/

div.search {
  float: left;
  display: block;
  padding: 10px;
  margin: 0;
}

div.search input {
  width: 100%;
  color: silver;
  font-family: Open Sans, Tahoma;
  font-weight: 300;
  padding: 5px;
  padding-left: 0;
  border: none;
  background: transparent;
  font-size: 15px;
}

div.search input:focus {
  color: #333;
  border: none;
}

div.logout a {
  float: right;
  display: block;
  padding: 15px;
  color: silver;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

div.logout img {
  float: right;
  padding: 15px;
  height: 50px;
  width: 60px;
  cursor: pointer;
}

div.logout:hover a {
  color: #999;
}

div#header div#user {
  float: right;
  background: #333;
  height: 50px;
  /*width: 300px;*/
  text-align: center;
}

div#header div#user img {
  width: 50px;
}

/*	BOX   */

div.filter {
  /*position: absolute;*/
  width: 300px;
  margin-left: 25px;
  padding: 0;
}

div.filter div#filter-container {
  padding: 20px;
  display: block;
}

div.filter input {
  margin: 0;
  width: 100%;
  margin-bottom: 5px;
}

hr {
  border: 0;
  width: 100%;
  color: #e1e1e1;
  background-color: #e1e1e1;
  height: 1px;
}

input,
select {
  color: #333;
  font-family: Open Sans, Tahoma;
  background: transparent;
  border: none;
  /*border-bottom: 2px solid #e1e1e1;*/
  padding: 6px;
  padding-left: 12px;
  font-size: 13px;
  font-weight: bold;
}

input:focus,
input:hover {
  /*border-bottom: 2px solid #34495e;*/
  color: #333;
}

div select:hover {
  border-bottom: 2px solid #34495e;
}

div select option:hover {
  background: #2c3e50;
  color: #ecf0f1;
}

table {
  border: none;
  padding: 0;
  padding-top: 0;
}

table.main-table {
  /*border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;*/
  /*margin-top: 15px;*/
  border-spacing: none;
  font-size: 13px;
  /*font-size: 14px;*/
  font-weight: 400;
  width: 100%;
  padding-bottom: 15px;
}

table.main-table tbody td {
  /*padding: 13px;*/
  /*background: #eee;*/
  color: #555;
  padding: 10px;
}

table.main-table tbody td.td-name {
  width: 170px;
}

table.main-table tbody td.td-status {
  padding: 0;
  padding-left: 18px;
  width: 35px;
}

table.main-table tbody td.td-status img {
  width: 24px;
  padding: 0;
  margin-top: 4px;
}

table.main-table tbody tr td a {
  color: #555;
  font-weight: bold;
}

th#emtry {
  background-image: none;
}

th {
  cursor: pointer;
  text-align: left;
  padding: 10px;
  color: #222;
  font-size: 13px;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

th:hover {
  text-decoration: underline;
}

table.main-table tbody tr:hover {
  background: #eee;
  /*box-shadow: 0 1px #d8d8d8;*/
}

#no-hover {
  background: transparent;
}

#noSrchResults {
  width: 100%;
  height: 125px;
  display: block;
  background-repeat: no-repeat;
  background-size: 125px;
  background-image: url(../images/noSrchResults.svg);
  background-position: 50% 0;
}

#titleNoSrchResults {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #999;
  font-weight: 300;
}

;

.add-participant {
  display: block;
}

/* PLACEHOLDER */

::-moz-placeholder {
  color: silver;
}

/* Firefox 19+ */

:-moz-placeholder {
  color: silver;
}

/* Firefox 18- */

:-ms-input-placeholder {
  color: silver;
}

div.profile {
  padding: 0;
  /*position: relative;*/
  padding-bottom: 15px;
}

div.profile img {
  border-radius: 5px 5px 0 0;
  margin-top: 0;
  width: 100%;
}

div.profile div.info-profile {
  width: 100%;
  height: 100px;
  display: block;
  margin-top: -85px;
  padding: 25px;
  position: relative;
  float: left;
}

div.profile div.info-profile div.general-info {
  position: absolute;
  width: 50%;
  margin: -75px;
  margin-left: 130px;
  display: block;
}

div.profile div.info-profile div.general-info div.name {
  display: block;
  margin: -10px;
  margin-left: 0;
}

div.profile input {
  border: none;
  width: auto;
}

div.profile input:focus {
  border: none;
  border-bottom: 2px solid #444;
  background-image: url(/images/edit.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 5px;
}

div.profile div.info-profile div.general-info div.name input {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  width: auto;
  border-bottom: 2px solid transparent;
}

div.profile div.info-profile div.general-info div.name input:focus {
  border-bottom: 2px solid #444;
}

div.profile div.info-profile img.avatar {
  /*position: inherit;*/
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #fff;
}

div.profile table {
  margin: 50px;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 14px;
}

div.profile table tr td {
  width: 100%;
}

div.profile table tr td:nth-child(2n) {
  width: 100%;
}

div.profile table tr td:nth-child(1n) {
  color: #999;
  width: 125px;
}

div.profile table tr td input {
  font-size: 14px;
  color: #333;
  padding: 5px;
  width: auto;
  border-bottom: 2px solid #fff;
}

div.send-test {
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(34,34,34,0.8);
  display: none;
  position: fixed;
  margin: auto;
  /*margin-right: auto;*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div.send-test div#main {
  position: absolute;
  /*border-radius: 2px;*/
  /*box-shadow: 0 0 2px rgba(34,34,34,0.5);*/
  background: #f6f6f6;
  /*width: 50%;*/
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 70px;
}

div.send-test input {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 1px;
}

div.send-test input:hover,
div.send-test input:focus {
  border-color: #d8d8d8;
}

div.send-test div#close-box {
  position: absolute;
  top: 0;
  margin: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}

div.send-test div#main div.tool {
  position: relative;
  box-shadow: none;
  padding: 15px;
  display: inline-block;
  /*background: #eee;*/
  width: 100%;
  height: auto;
  margin: 0;
}

div.send-test div#main div.action table td:nth-child(1) {
  color: #444;
  font-size: 13px;
}

div.send-test div#main div.action table td:nth-child(2) input {
  margin: 0;
}

div.send-test div#main div.action input {
  width: 100%;
}

div.send-test div#main div.action {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #2c3e50;
  padding: 15px;
  width: 100%;
  height: 80%;
  margin: 0;
  top: 0;
}

div.send-test div#main div.head {
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 50px;
  background: #2c3e50;
  background: #333;
  display: block;
}

div.send-test div#main div.head span {
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  /*padding: 6px;*/
  /*margin-top: -10px;*/
  /*color: #4e6e87;*/
}

div.send-test div#main div.head #close {
  border: none;
  background: transparent;
  float: right;
  color: #555;
  font-weight: normal;
}

div.send-test div#main div.head #close:hover {
  color: #666;
}

div.send-test div#main div.head table {
  /*background: #333;*/
  width: 100%;
  margin: 0;
  padding: 0;
  /*background: #333;*/
}

div.send-test div#main div.head table tr td.img {
  width: 50px;
  padding: 0;
}

div.send-test div#main div.head table tr td img {
  display: block;
  width: 100%;
  /*height: 80%;*/
}

div.send-test div#main {
  position: relative;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 15px;
  margin: 0;
  font-size: 13px;
}

input[type="radio"]:checked + label {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

td.radio-td label {
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border: 1px solid #eee;
  background-color: #fff;
  color: #d8d8d8;
}

td.radio-td input[type="radio"]:checked + label {
  /*border-color:#d8d8d8;*/
  color: #333;
}

td.radio-td label:hover {
  color: #666;
  border-color: #d8d8d8;
}

td#page-size {
  width: 90px;
}

td#page-size label {
  padding: 5px;
  background-color: #fff;
  color: #e2e2e2;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
}

td#page-size input[type="radio"]:checked + label {
  /*background-color:#eee;*/
  color: #666;
  font-weight: bold;
}

div.profile div.history {
  margin: 0;
}

div.chart {
  font-family: Open Sans;
  width: 100%;
  height: 500px;
  background: transparent;
  z-index: 8;
}

div.send-test table {
  width: 100%;
  height: 100%;
}

div.send-test table tr td {
  padding: 5px;
}

div.send-test table tr td input {
  width: 100%;
}

/* css for tasks.html*/

.Tbox {
  width: 60%;
  height: 75%;
  position: absolute;
  margin: 1%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 12px;
  z-index: 6;
  border-bottom: 1px solid #E1E1E1;
}

#BoxTitleAndTasks {
  /*float: left;*/
  background-color: #fff;
  position: absolute;
  top: 10%;
  height: 80%;
  width: 62%;
  border-radius: 5px;
  border-bottom: 1px solid #E1E1E1;
}

#boxWithTasks {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 10%;
  overflow: auto;
  /*border-radius: 5px;*/
  /*border: solid 0px rgba(19, 24, 28, 0.04);*/
  /*box-shadow: 0 0 3px;*/
}

#boxWithTitle {
  background-color: #fff;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  /*top:10%;*/
  height: 30px;
}

#boxFindTask {
  float: left;
  height: 50%;
  width: 20%;
  left: 79%;
  /*margin: 0px;*/
  top: 10%;
  position: absolute;
  /*right: 10%;*/
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: rgb(145, 145, 145);
  border-radius: 6px;
  background-color: #fff;
  border-bottom: 1px solid #E1E1E1;
  /*box-shadow: 0 0 4px;*/
}

#boxWithTasks {
  background-color: #fff;
}

#boxWithTasks #table-dashboard {
  border-collapse: collapse;
}

#boxWithTasks table tbody tr td {
  font-size: 13px;
  padding: 4px 0px;
}

#boxFindTask div {
  background: #fff;
  width: 90%;
  margin: 0px 5% 15px 5%;
  float: left;
  text-align: left;
}

#boxFindTask div #boxWithDate {
  margin-left: 0px;
}

#boxFindTask span {
  color: #888;
  font-size: 12px;
  margin-bottom: 25px;
  text-align: left;
  float: left;
}

#boxFindTask div select {
  width: 50%;
  float: right;
}

#boxFindTask div div select {
  float: left;
}

#boxFindTask div input {
  width: 100%;
  float: right;
}

#boxFindTask div #day {
  width: 26%;
  margin: 0px;
  font-size: 11px;
}

#boxFindTask div  #mounth {
  width: 42%;
  font-size: 11px;
  margin: 0px;
}

#boxFindTask div  #year {
  width: 32%;
  margin: 0px;
  font-size: 11px;
}

.tableTitle {
  padding-left: 4px;
  width: 300px;
  padding-left: 15px;
}

.tableCubicle {
  width: 150px;
  text-align: center;
}

.tableTitleT {
  border-radius: 6px;
  padding-left: 4px;
  width: 300px;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 15px;
  text-align: center;
}

.tableCubicleT {
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
}

.tableCubicleT:hover {
  background-color: rgba(7, 53, 82, 0.04);
}

.tableTitleT:hover {
  background-color: rgba(7, 53, 82, 0.04);
}

#deleteImage {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 100%;
}

#editImage {
  height: 20px;
  width: 20px;
  cursor: pointer;
  float: left;
}

#blockEdit {
  width: 40px;
}

.selectBl {
  width: 20%;
  margin-left: 1%;
  margin-top: 0px;
  color: #000;
}

td .selectBl {
  width: 70%;
}

#build-editor {
  height: 62%;
  width: 98%;
  margin: 2px 1% 1% 1%;
  border-radius: 5px;
  font-size: 17px;
}

.Ttitle {
  padding-left: 10px;
}

td input {
  margin-left: 5px;
  width: 200%;
}

.Tbox span {
  margin: 10px 15px;
  float: right;
  left: 80%;
  cursor: pointer;
  color: #B6ABB6;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  background-color: #E2E2E2;
  padding: 3px 10px;
}

.Tbox span:hover {
  background: #d8d8d8;
  border-color: #d8d8d8;
}

.Tbox span:active {
  background: #d8d8d8;
  border-color: #d8d8d8;
}

#inputTitle {
  color: #000;
}

table#activity {
  margin: 0;
}

table#activity tbody tr td {
  color: #555;
}

table#activity tbody tr td img {
  width: 24px;
}

.toolT {
  position: absolute;
  top: 93%;
}

.toolT #add {
  margin-left: 10px;
  background: #A2B57D;
  color: #fff;
  /*padding: 4px 12px;*/
  border-radius: 2px;
  border-color: #a2b57d;
  text-shadow: 0 1px 0 #828e65;
}

#messageDeleteBox {
  position: fixed;
  height: 101%;
  width: 103%;
  top: -1%;
  left: -1%;
  opacity: 0.5;
  background-color: rgb(46, 45, 62);
  z-index: 4;
}

#messageDelete {
  font-size: 14px;
  position: absolute;
  height: 20%;
  width: 40%;
  top: 30%;
  left: 30%;
  z-index: 6;
  background-color: #fff;
  color: #B6ABB6;
  border-radius: 3px;
  padding: 2%;
}

.buttonMessageDel {
  /*height: 15%;*/
  /*width: 15%;*/
  position: absolute;
  top: 70%;
  z-index: 7;
  text-align: center;
  font-size: 12px;
  /*border-radius: 3px;*/
  cursor: pointer;
  color: #000;
}

#TDel {
  /*background-color: rgb(69, 17, 20);*/
  left: 60%;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  background-color: #E2E2E2;
  padding: 3px 10px;
  color: #B6ABB6;
}

#TDel:hover {
  background: #FA8564;
  border-color: #FA8564;
  color: #fff;
}

#TDel:active {
  background: #FA8564;
  border-color: #FA8564;
}

#TCanc {
  /*background-color: #eeeeee;*/
  left: 80%;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  background-color: #E2E2E2;
  padding: 3px 10px;
  color: #B6ABB6;
}

#TCanc:hover {
  background: #d8d8d8;
  border-color: #d8d8d8;
}

#TCanc:active {
  background: #d8d8d8;
  border-color: #d8d8d8;
}

.imageForSort {
  margin: 6px 8px;
  width: 10px;
  height: 10px;
  float: right;
}

/*/////////////////////////////////*/

/*	LOGIN	*/

form.login {
  display: block;
  background: #fff;
  width: 500px;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Open Sans;
  box-shadow: 0 1px 0 #e1e1e1;
}

form.login div {
  position: absolute;
  display: block;
  background: #fff;
  margin: auto;
  width: 50%;
  height: 55%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form.login input {
  margin: 0;
  width: 100%;
  color: #34495e;
  font-weight: bold;
  margin-bottom: 15px;
}

form.login label {
  color: #444;
}

div#chart-profile {
  width: 500px;
  height: 300px;
  margin-left: -45px;
}

div#right-container {
  display: inline-block;
  position: absolute;
}

div#right-container div.chart {
  display: block;
  width: 400px;
  height: 300px;
}

div#conteiner-profile {
  width: auto;
  position: absolute;
  display: inline-block;
}

div.alt {
  margin-top: -50px;
  z-index: 8;
  position: absolute;
  display: block;
  background: rgba(34, 34, 34, 0.9);
  width: auto;
  height: auto;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  display: none;
}

div#profile-send-alt {
  margin-top: -258px;
  margin-left: 462px;
}

div.box-item-info {
  position: absolute;
  display: none;
  width: 200px;
  box-shadow: 0 0 5px #c0c0c0;
}

div.box-item-info img.bg {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

div.box-item-info img.avatar {
  position: absolute;
  width: 30%;
  border-radius: 2px;
  margin-top: 15px;
  margin-left: 15px;
}

div.box-item-info a:hover,
div.box-item-info a:active {
  text-decoration: underline;
  color: #222;
}

div.box-item-info span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #222;
  padding-bottom: 5px;
}
