ul#nav li {
  margin-left: 10px;
  list-style: none;
}

ul#nav li a,
ul.sub li a {
  color: #577a9d;
  color: #666;
  font-family: 'Open Sans', Tahoma;
  font-weight: 600;
  display: block;
  padding: 15px;
  font-size: 11px;
  border-left: 5px solid transparent;
}

ul#nav ul.sub {
  display: none;
  margin-top: -10px;
  margin-left: 45px;
}

ul#nav ul.sub li a {
  padding: 5px;
}

ul#nav li a:hover {
  color: #fff;
  margin-left: 5px;
}

ul#nav li a:focus {
  color: #fff;
  /*border-left: 5px solid #577a9d;*/
}
