@media only screen and (max-width: 768px) {
  div#header {
    position: fixed;
    box-shadow: 0 0 3px #888;
  }

  div#header div#user {
    display: block;
  }

  div.user {
    display: none;
  }

  div.send-test div#main {
    width: 80%;
  }

  div.box {
    width: 100%;
  }

  table.main-table {
    width: 100%;
  }

  a#dashboard,
  a#participants,
  a#statistics,
  a#dashboard:hover,
  a#participants:hover,
  a#statistics:hover,
  a#dashboard:focus,
  a#participants:focus,
  a#statistics:focus,
  a#tasks,
  a#tasks:hover,
  a#tasks:focus {
    background-image: none;
    text-indent: 0%;
  }

  ul#nav {
    margin-top: 0px;
  }

  /*div.search{margin-left: 125px;}*/

  .logo {
    /*margin-left: 50px;*/
    position: absolute;
  }

  .sidebar {
    margin-top: 50px;
    position: absolute;
    height: auto;
    width: 100%;
    display: none;
    text-align: center;
  }

  div.content {
    margin-left: 0px;
  }

  #mainMobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  div#header div#user {
    display: none;
  }

  div.user {
    display: block;
  }

  section {
    white-space: nowrap;
  }

  section div.box {
    display: inline-block;
  }

  section div#activity {
    /*position: absolute;*/
    display: block;
    width: 450px;
    margin-left: 25px;
  }

  div.box {
    width: 700px;
    margin: 25px;
  }

  div.send-test div#main {
    width: 500px;
  }

  div.profile {
    width: 600px;
  }

  table.main-table {
    width: auto;
  }

  ul#nav {
    margin-top: 15px;
  }

  /*div.search{margin-left: 0px;}*/

  div.mobile {
    display: none;
  }

  #mainMobile {
    display: block;
  }

  div.sidebar {
    /*background: #333;*/
    /*margin-top: -50px;*/
    position: fixed;
    height: 100%;
    display: block;
  }
}
