.sidebar {
  /*position: static;*/
  width: 180px;
  height: 100%;
  z-index: 9;
  /*height: calc(100% - 50%);*/
  /*background: #ecf0f1;*/
  /*background: #34495e;*/
  background: #2c3e50;
  background: #333;
  /*background: #232B2D;*/
  float: left;
}

div.sidebar div.user {
  width: 100%;
  /*background: #333;*/
  padding: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-size: 500%;
}

div.sidebar div.user div {
  display: block;
}

div.sidebar div.user img {
  /*height: 150px;*/
  width: 45%;
  z-index: 4;
  /*border-radius: 100%;	*/
  border-radius: 5px;
}

div.sidebar div.user span#role {
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  z-index: 6;
}

div.sidebar div.user span#role img {
  position: absolute;
  width: 16px;
  margin-top: 2px;
}

div.sidebar div.user span#role div {
  display: inline-block;
}

div.sidebar div.user span {
  /*position: absolute;*/
  font-family: Open Sans;
  border-radius: 0;
  font-weight: bold;
  z-index: 6;
  display: block;
  font-size: 13px;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
}

a#dashboard,
a#participants,
a#statistics,
a#tasks {
  background-image: url(../images/db.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 24px;
  display: block;
  height: auto;
  /*overflow:hidden;*/
  text-indent: 20%;
}

a#dashboard:hover {
  background-image: url(../images/db-h.svg);
}

a#dashboard:focus {
  background-image: url(../images/db-h.svg);
}

a#participants {
  background-image: url(../images/u.svg);
}

a#participants:hover {
  background-image: url(../images/u-h.svg);
}

a#participants:focus {
  background-image: url(../images/u-h.svg);
}

a#statistics {
  background-image: url(../images/s.svg);
}

a#statistics:hover {
  background-image: url(../images/s-h.svg);
}

a#statistics:focus {
  background-image: url(../images/s-h.svg);
}

a#tasks {
  background-image: url(../images/t.svg);
}

a#tasks:hover {
  background-image: url(../images/t-h.svg);
}

a#tasks:focus {
  background-image: url(../images/t-h.svg);
}
