<div>
	<div id="container">
		<div class="sidebar">
			<div class="user" style="background-image: url(../dist/images/profiles/id1-bg.jpg)">
				<center>
					<div>
						<a href="/users/{{currentUser.id}}">
							<img ng-src="images/profiles/{{currentUser.image}}" onerror="this.src='dist/images/profiles/error.png';"></a>
						<span>{{currentUser.firstName}} {{currentUser.lastName}}</span>
	                <span id="role">
	                    <div ng-if="currentUser.role == 'ROLE_ADMIN'" translate>ADMIN</div>
	                    <div ng-if="currentUser.role == 'ROLE_MANAGER'" translate>MANAGER</div>
	                    <div ng-if="currentUser.role == 'ROLE_RECRUITER'" translate>RECRUITER</div>
	                <img src="dist/images/arrowDown.png">
	                </span>
					</div>

					<div id="userMenu" class="menu">
						<ul>
							<a href="/users/{{currentUser.id}}"><li translate>PROFILE</li></a>
							<a href="/"><li translate>PARTICIPANTS</li></a>
							<hr>
							<a id="logout" href="/login?logout"><li translate>LOGOUT</li></a>
						</ul>
					</div>
				</center>
			</div>
			<ul id="nav">
				<li><a id="dashboard" href="data/participants" ng-click="dataTable = 'participants'" translate>DASHBOARD</a></li>
				<ul id="subDashboard" class="sub">
					<li><a href="/participants">My participants</a></li>
					<li><a href="">All participants</a></li>
				</ul>
				<li><a id="participants" href="data/users" ng-click="dataTable = users" ng-show=usersVisible translate>USERS</a></li>
				<li><a id="statistics" href="/statistics" ng-show=statisticsVisible translate>STATISTICS</a></li>
				<li><a id="tasks" href="/tasks" ng-show=tasksVisible translate>TASKS</a></li>
				<li><a href="/template/login.html" target="_blank">Login Page</a></li>
				<li><a href="/bootstrap.html" target="_blank">Bootstrap Soon</a></li>
			</ul>
		</div>
	</div>

	<div class="content">

		<div id="header">
			<div id="mainMobile" class="mobile"></div>
			<div id="secondMobile" class="mobile"></div>
			<div class="search"><input type="text" placeholder="Search for something..." onblur="this.placeholder='Search for something...'"></div>
			<div id="user">
				<a href="#/users/{{currentUser.id}}">
					<img ng-src="images/profiles/{{currentUser.image}}" onerror="this.src='dist/images/profiles/error.png';"></a>
			</div>
			<div class="logout">
				<img ng-click="setLang()" ng-src="dist/	{{translateImageSrc}}" />
				<a id="logout" href="/login?logout" translate>LOGOUT</a>
			</div>
		</div>
		<!-- <div id="view" ng-view></div> -->
		<div id="view" ui-view></div>
	</div>
</div>