@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

body{
	background: #f4f5f5;
}

a{
	text-decoration: none;
}

div#header {
	width: 100%;
	height: 50px;
	/*background: #3498db;*/
	/*background: #16a085;*/
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 1px 0 #e1e1e1; 
}

.logo {
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	/*margin-left: 11px;*/
}

.logo a {
	font-size: 18px;
	color: #16a085;
}
.logo a span {
	font-weight: 300;
}
div#container {
	width: 100%;
	margin: 0 auto;
	background: #34495e;
}

.sidebar {

	/*position: static;*/
	width: 180px;
	height: 100%;
	/*height: calc(100% - 50%);*/

	/*background: #ecf0f1;*/
	/*background: #34495e;*/
	background: #2c3e50;
	float: left;
}
a#dachboard, a#participants, a#statistics {
	background-image:url(/images/db.png);
    background-position:10px 10px;
    background-repeat:no-repeat;
    display:block;
    height:auto;
    /*overflow:hidden;*/
    text-indent:20%;
}
a#dachboard:hover{background-image:url(/images/db-h.png);}
a#dachboard:focus{background-image:url(/images/db-h.png);}
a#participants{background-image:url(/images/pib.png);}
a#participants:hover{background-image:url(/images/pib-h.png);}
a#participants:focus{background-image:url(/images/pib-h.png);}
a#statistics{background-image:url(/images/s.png);}
a#statistics:hover{background-image:url(/images/s-h.png);}
a#statistics:focus{background-image:url(/images/s-h.png);}

ul#nav li {
	margin-left: 10px;
	list-style: none;
}
ul#nav li a {
	color: #577a9d;
	font-family: 'Product Sans', Tahoma;
	font-weight: 500;
	display: block;
	padding: 15px;
	font-size: 12px;
	border-left: 5px solid transparent;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}
ul#nav li a:hover {
	color: #fff;
	/*background: #2c3e50;*/
	/*margin-left: 5px;*/
}
ul#nav li a:focus, ul li a#selected {
	color: #fff;
	/*border-left: 5px solid #577a9d;*/
}
.content {
	width: auto; 
	/*height: calc(100% - 50%);*/
	height: auto;
	font-family: Open Sans, Tahoma;
	background: #f4f5f5;
	margin-left: 180px;
	padding: 0px;
	color: #424242;
}

div.mobile {
	display: block;
	cursor: pointer;
	float: left;content
	width: 50px;
	height: 50px;
	color: #fff;
	padding: 0px;
	text-align: center;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}	
div.mobile:hover{
	/*margin-top: 1px;*/
	/*background: #148f77 ;*/

}
#menu{
	position: absolute;
	background-position: 0 0;
	/*background-image: url(D:/Mockup-interview/images/menu.png); */
}
/*	RESIZE	*/
@media only screen and (max-width: 700px){
	div.box{width: 100%;}
	table#table-dashboard{width: 100%;}
	a#dachboard,a#participants,a#statistics,a#dachboard:hover,
	a#participants:hover,a#statistics:hover,a#dachboard:focus,
	a#participants:focus,a#statistics:focus
	{background-image:none;text-indent:0%;}
	ul#nav{margin-top: 0px;}
	/*div.search{margin-left: 125px;}*/
	div.box-small{
		margin-bottom: 15px;
		width: 100%;
	}
	.logo{
		/*margin-left: 50px;*/
		position: absolute;
	}
	.sidebar{
		margin-top:50px;
		position: absolute;
		height: auto;
		width: 100%;
		display: none;
		text-align: center;
	}
	#view{
		padding: 25px;
	}
	.content {
		margin-left: 0px;
	}
}
@media only screen and (min-width: 700px){
	div.box{width: 60%;margin: 25px;}
	table#table-dashboard{width: auto;}
	ul#nav{margin-top: 75px;}
	/*div.search{margin-left: 0px;}*/
	div.box-small{
		width: 200px;
		margin-left: 15px; 
	}
	div.mobile{
		display: none;
	}
	div.top{

		/*max-height: 150px;*/
	}
	div.sidebar{
		/*background: #333;*/
		/*margin-top: -50px;*/
		position: fixed;
		height: 100%;
		display: block;
	}
}

/*	SEARCH	*/

div.search{
	float: left;
	display: block;
	padding: 10px;
}
div.search input{
	color: silver;
	font-family: Open Sans, Tahoma;
	font-weight: 300;
	padding: 5px;
	border: none;
	background: transparent;
	font-size: 15px;
}
div.search input:focus{
	color: #333;
	border: none;
}
div.logout{
	float: right;
	display: block;
	padding: 15px;	
	color: silver;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.logout:hover{ color: #999; }
/*	BOX   */
div#box-main {
	height: 200px;
}
div.box {
	/*border: 3px solid #fff; */
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 0 #e1e1e1; 
	display: block;
	padding: 20px;
	background: #fff;
	height: auto;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.box span.clients-length{
	float: right;
	font-size: 12px;
	color: #999;
}
div.box-small{
	padding: 0;
	height: 125px;
	float: left; 
}
hr {
    border: 0;
    width: 100%;
    color: #e1e1e1;
    background-color: #e1e1e1;
    height: 1px;
 }
div.box-small span{
	margin: 10px;
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #666;
}
div.box-small p{
	padding: 20px; 
	font-size: 30px;
	color: #666;
	font-weight: 300;
}
div.box div{
	width: 100%;
	display: inline;
	
}
div.box div ul { list-style: none; }
div.box div ul li{ display: inline;padding: 0; }
div.box div ul li button{
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0 3px 3px 0;
	margin: 0;
	margin-left: -7px;
	height: 33.5px;
}
/*div.box div input{
	
	color: silver;
	width: 80%;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.box div input:focus{color: #333;}*/
.clearBoth { clear:both; }

select{
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.box div input, select{
	color: silver;
	font-family: Open Sans, Tahoma;
	background: transparent;
	border: none;
	border-bottom: 2px solid #e1e1e1;
	border-radius: 1px;
	padding: 6px;
	padding-left: 12px; 
	font-size: 13px;
	width: 40%;
	margin: -3px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div input:focus{
	border-bottom: 2px solid #34495e;
	color: #34495e;
}
div.box div select{
	padding: 5px;
	width: 18%;
}
div select:hover{
	border-bottom: 2px solid #34495e;
}
div select option:hover{background: #2c3e50;color: #ecf0f1;}
table#table-dashboard{
	/*border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;*/
	margin-top: 15px;
	margin-bottom: 15px;
	border-spacing: inherit;
	font-size: 13px;
	/*font-size: 14px;*/
	font-weight: 400;
	width: 100%;
}
table#table-dashboard tbody td{
	/*padding: 13px;*/
	/*background: #eee;*/
	color: #555;
	padding: 10px;
}
table#table-dashboard tbody td.td-name{	width: 170px; }
table#table-dashboard tbody td.td-status{padding: 0; padding-left: 18px;}
table#table-dashboard tbody td.td-status img{ width: 24px; padding: 0;}
table#table-dashboard tbody tr td a{
	color: #555;
	font-weight: bold;
}
th {text-align: left;padding: 10px;color: #222;}
.hover-tr:hover{
	background: #ecf0f1;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.top{
	display: block;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 25px;
}
tr.info td{ padding: 0;}
tr.info{
	background-color: #eee;
	height: auto;
}
p.info-p{
	position: relative;
	display: none;
	padding: 10px;
	padding-left: 15px;
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
}
button{
	background: #f8fafb;
	/*background: #16a085;*/
	border-radius: 2px; 
	border-color: transparent; 
	border: 1px solid silver;
	color: #666;
	font-weight: bold;
	font-size: 13px;
	font-family: Open Sans, Tahoma;
	padding: 2.5px 10px 2.5px 10px;
	cursor: pointer;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}
button:hover{
	border: 1px solid #888;
	/*background: #888;*/
	/*color: #fff;*/
}
button:active{
	/*background: #1abc9c;*/
	border: 1px solid #666;
	background: #666;
	color: #fff;
}
div.status-done:before{content: "Done";}
/*div.status-in-progress:before{content: "In progress";}*/
div.status-false:before{content: "Not sent";}
div.status-done,div.status-in-progress,div.status-false{
	padding: 0px;
	padding-right: 24px;
	padding-bottom: 5px;
	display: block;
}
div.status-in-progress{
	background: #333;
	width: 50px;
	background-image: url(/images/clock.png);
	background-repeat: no-repeat;	
}
div.status-false{background: #fa8564;/*background: #e74c3c;*/}
div#box-list{position:static;float: left;width: 100%;padding: 10px;margin: 0;}
ul#list-tb li {display: inline-block;font-size: 14px; padding: 10px;}
ul#list-tb div:hover { background: #ecf0f1; }
ul#list-tb div{border-bottom: 1px solid #eee;};

.add-participant{
	display: block;
}
/* PLACEHOLDER */
::-webkit-input-placeholder {color: silver;}
::-moz-placeholder          {color: silver;}/* Firefox 19+ */
:-moz-placeholder           {color: silver;}/* Firefox 18- */
:-ms-input-placeholder      {color: silver;}

div.box div.tool{
	padding-top: 20px;
}
div.profile{
	padding: 0;
	/*position: relative;*/
	/*padding-top: 15px;*/
}
div.profile img{
	border-radius: 5px 5px 0 0; 
	margin-top: 0;
	width: 100%;
}
div.profile div.info-profile{
	width: 100%;
	height: 100px;
	display: block;
	margin-top: -85px;
	padding: 25px;
	position: relative;
	float: left;
}
div.profile div.info-profile div.general-info{
	position: absolute;
	margin:-75px;
	margin-left: 130px;
	display: block;
	color: #fff;
	font-weight: bold;
}
div.profile div.info-profile div.general-info div.name{

	font-size: 20px;
	display: block;
	margin: -10px;
	margin-left: 0;
}
div.profile div.info-profile div.general-info div.city{
	margin-top: 25px;
	color: #333;
	display: block;
	font-size: 14px;
	color: #666;
}
div.profile div.info-profile img{
	/*position: inherit;*/
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 2px solid #fff;
}
button.send{
	position: relative;
	background: #a2b57d;
	border-color: #a2b57d;
	color: #fff;
	text-shadow: 0 1px 0 #828e65;
}
button#send-profile{
	margin: 25px;
	margin-top: 0;
}
button.send:hover{
	background: #afbc8e;
	border-color: #afbc8e;
	color: #fff;
}
button.send:active{
	background: #a2b57d;
	border-color: #a2b57d;
}
/*div.name, div.city{
	font-weight: bold;
	font-size: 15px;
	display: block;
	width: auto;
	position: fixed;
	margin-top: 30px;
	margin-left: 115px;
}*/
div.profile span img.done{
	width: 24px;
}

div.send-test{
	width: 100%;
	height: 100%;
	background: rgba(34,34,34,0.8);
	display: none;
	position: fixed;
	margin: auto;
	/*margin-right: auto;*/
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
div.send-test div {
	position: fixed;
	/*border-radius: 2px;*/
	/*box-shadow: 0 0 2px rgba(34,34,34,0.5);*/
	background: #fff;
	width: 50%;
	height: 250px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: 100px; 

}
div.send-test div div.tool{
	position: relative;
	box-shadow: none;
	padding: 15px;
	display: inline-block;
	/*background: #2c3e50;*/
	width: 100%;
	height: auto;
	margin: 0;
}
div.send-test div div.action{
	position: relative;
	font-size: 14px;
	font-weight: bold;
	color: #2c3e50;
	padding: 15px;
	width: 100%;
	height: 80%;
	margin: 0;
	top: 0;
}
div.send-test div div.head{
	margin-top:0; 
	position: relative;
	width: 100%;
	height: 50px;
	background: #2c3e50;
	display: block;
	padding: 12.5px;
}
div.send-test div div.head span{
	color: #fff;
	font-size: 13px;
	color: #4e6e87;
}
div.send-test div div.head #close{
	border: none;
	background: transparent;
	float: right;
	color: #4e6e87;
	font-weight: normal;
}
div.send-test div div.head #close:hover{color: #fff;}

div.send-test div {
	position: relative;
}
div.send-test div div.action input[type="radio"] {
    display:none; 
}

div.send-test div div.action label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    color: #333;
    font-size:13px;
}

div.send-test div div.action input[type="radio"]:checked + label { 
    background-color:#bbb;
    -webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
div.send-test div div.action select{
	width: 70%;
	color: #333;
	font-weight: bold;
}
div.send-test div div.action textarea{
	margin-top: 15px;
	width: 100%;
	height: 100%;
	padding: 15px;
	font-family: Open Sans, Tahoma;
	border: 2px solid #e1e1e1;
}
div.profile div.history{
	margin: 0;
}
div.profile div.history button {
	float: right;
}
div.profile div.history ul{
	margin-top: 25px;
	padding: 25px;
}
div.profile div.history ul li{
	display: list-item;
}